/*==================排序====================*/


.ui-autocomplete {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list- style: none;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #b6b6b6;
	border-radius: 1px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box
}

.ui-autocomplete.pull-right {
	right: 0;
	left: auto
}
.select-list li .handle {
    float: left;
}
.ui-autocomplete .divider {
	margin: 11.5px 0;
	background- color: #e5e5e5;
	height: 1px;
	margin: 4px 1px;
	overflow: hidden
}

.ui-autocomplete>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line- height: 1.81818181;
	color: #333;
	white-space: nowrap
}

.ui-autocomplete .divider {
	background-color: #e5e5e5;
	height: 1px;
	margin: 4px 1px;
	overflow: hidden
}

.ui-autocomplete>li>a {
	border-color: transparent;
	border-style: solid;
	border-width: 1px 0;
	padding: 1px 10px
}

.ui-helper-hidden-accessible {
	display: none
}

.ui-menu .ui-menu-item a.ui-state-

hover,.ui-menu .ui-menu-item a.ui-state-focus {
	color: #4d5258;
	background-color: #d4edfa;
	text-decoration: none
}

ul.ui-autocomplete-layout-table {
	display: table;
	position: relative;
	top: 0;
	left: 0
}

ul.ui-autocomplete-layout-table>li.ui-menu-item {
	display: table-row-group
}

ul.ui-autocomplete-layout-table>li.ui-menu-

item>a {
	display: table-row
}

ul.ui-autocomplete-layout-table>li.ui-menu-item>a>span {
	display: table-cell;
	padding: 3px .5em
}

ul.ui-autocomplete-layout-table>li.ui-menu-

item>a>span:first-child {
	padding-left: 15px
}

ul.ui-autocomplete-layout-table>li.ui-menu-item>a>span:last-child {
	padding-right: 15px
}

.ui-autocomplete-layout-table-wrapper {
	position: absolute;
	top: 0;
	left: 0
}


.select-list {
	margin: 0;

}

.select-list .content {
	display: table;
/*	border: 1px solid #e5e5e5;*/
	border-radius: 4px;
	
	width: 100%
}



.select-list .list .helper {
	min-height: 0;
	margin: 0;
	padding: 0
}
.select-list .button-column {
	vertical-align: middle;
	display: table-cell;
	width: 61px;
	padding-left: 2px;
	margin-top:95px;
}


.select-list .ui-selectee {
	cursor: pointer;
	color: #333;
	line-height: 3em
}

@media ( min- width:768px) {
	.select-list .ui-selectee {
		line-height: 2.3em
	}
}

.select-list .ui-disabled {
	cursor: default;
	line-height: 3em
}

@media ( min-width :768px) {
	.select-list .ui-disabled {
		line-height: 2.3em
	}
}

.select-list .ui-selectee:hover {
	background-color: #eee;
	color: #333
}

.select-list .ui-selecting {
	background: #b3cbf3
}

.select-list .ui-selected {
	background-color: #b3cbf3;
	color: #fff
}

.select-list .ui-selected:hover,.select-list .helper-item {
	background: #91a8d7;
	color: #fff
}

.select-list .placeholder {
	height: 3em
}

@media ( min-width :768px) {
	.select-list .placeholder {
		height: 2.3em
	}
}

.select-list .first {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px
}

.select-list .handle {
	padding: 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	line-height: 3em;
	width: 3em;
	cursor: move;
	text-align: center
}

.select-list .handle i {
	vertical- align: baseline
}

@media ( min-width :768px) {
	.select-list .handle {
		line-height: 2.3em;
		width: 2.3em
	}
}

.select-list .disabled .handle {
	cursor: default;
	color: #999
}

/*.select-list 

.handle:hover {
	background: #eee
}

.select-list .ui-selectee:hover .handle {
	background-color: #eee;
	color: #333
}

.select-list .ui-selecting .handle {
	background: #b3cbf3;
}

.select-

list .ui-selected .handle {
	background-color: #b3cbf3;
	color: #fff
}

.select-list .ui-selected:hover .handle,.select-list .helper-item .handle
	{
	background: #91a8d7;
	color: #fff
}*/

.select-list .with-handle li {
	padding-left: 0
}

.select-list li .handle {
	float: left
}

.select-list ol.list,.select-list ol.helper {
	padding- left: 0;
	margin: 0;
	list-style: none;
	min-height: inherit;
	  overflow-y: hidden;
	
}

.select-list li {
	display: block;
	border-radius: 5px;
	margin: 2px 0;
	padding-left: 7px
}

.select-list table {
	width: 100%
}

.select-list table thead {
	text-align: left
}

.select-list table tr.ui-selectee {
	border-bottom: #fff solid 2px
}

.select-list th {
	line-height: 3em
}

@media ( min- width:768px) {
	.select-list th {
		line-height: 2.3em
	}
}

.select-list td,.select-list th {
	padding-left: .5em
}

.select-list .ui-selectee:hover td {
	background- color: #eee;
	color: #333
}

.select-list .ui-selecting td {
	background: #b3cbf3
}

.select-list .ui-selected td {
	background-color: #b3cbf3;
	color: #fff
}

.select-list .ui-selected:hover 

td {
	background: #91a8d7;
	color: #fff
}

.select-list .helper-item td {
	background: #91a8d7;
	color: #fff
}

.select-list tr.helper-item {
	border-radius: 5px
}

.select-list 

td.last,.select-list th.last {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px
}

.select-list .btn-group-vertical {
	display: flex;
	flex-direction: column
}



list .btn-group-vertical .btn {
	width: auto;
	padding: 0;
	text-align: center;
	min-width: 3em;
	height: 3em
}

@media ( min-width :768px) {
	.select-list .btn-group-vertical .btn {
		min- width: 2.3em;
		height: 2.3em
	}
}

.select-list .btn-group-vertical .labeled {
	text-align: left;
	padding-left: .5em
}

.select-list .btn-group-vertical .labeled span {
	padding- left: .5em;
	padding-right: .5em
}

.select-list .btn-group-vertical .richicon-first:before {
	content: "\f102"
}

.select-list .btn-group-vertical .richicon-up:before {
	content: "\f106"
}

.select-list .btn-group-vertical .richicon-down:before {
	content: "\f107"
}

.select-list .btn-group-vertical .richicon-last:before {
	content: "\f103"
}
.select-list .list li{float:none;margin:0;padding:0;}
.ui-sortable li {display:block; float:none;}
.row{margin-top:20px;margin-left:auto;margin-right:auto;width:600px;margin-bottom:10px;}

.row .content{width:600px;min-width: 600px;	}
.row{border: 1px solid #e5e5e5;
	border-radius: 4px; overflow:hidden;padding-left:10px;padding-right:10px;}
ol,li {
    margin-bottom: 12.5px;
    margin-top: 0;
    margin:0;
    padding:0;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}
.select-list .ui-selected {
    background-color: #b3cbf3;
    color: #FFFFFF;
}
.scroll-box{height:300px;float:left;overflow-y: hidden;}
.scroll-box ol{overflow-x:hidden;overflow-y:hidden;width:530px;*width:545px;}
.select-list  .content  .scroll-box{overflow-x:hidden;overflow-y:auto;}
.select-list .scroll-box {
	overflow-y: hidden;
	overflow-x: hidden;
	min-height: 9.6em;
	
}