@charset "utf-8";
/* CSS Document */
em{ 
	font-style:normal;
	}
.bootSelt80 .bootstrap-select{  
	width:80px;
	}
.bootSelt80 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:80px;
	}
.bootSelt180 .bootstrap-select{  
	width:180px;
	}
.bootSelt180 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:180px;
	}
.inline_block .bootstrap-select.btn-group .dropdown-menu{
	max-width:100%;
	}
	
	

/* 库存档案页样式 */
.inbentory_file_main{
	background-color:#f6f6f6;
	box-sizing:border-box;
	}
.inbentory_file_main .breadNav_wap{
	background-color:#fff;
	border:0;
	}
/*库存左侧二级*/
.inbentory_level_wap{
	position:relative;
	float:left;
	padding:20px 0-;
	background-color:#fff;
	box-sizing:border-box;
	}
.inbentory_level{
	display:inline-block;
	min-height:865px-;
	padding:20px 5px;
	border-right:1px solid #dfdfdf;
	box-sizing:border-box;
	vertical-align:top;
	}
.inben_first{
	position:relative;
	display:block;
	width:168px;
	height:32px;
	line-height:32px;
	font-size:12px;
	font-weight:normal;
	cursor:pointer;
	color:#525252;
	}
.inben_first1:hover{
	background-color:#f1f1f1;
	}
.inben_first1.in_cur,
.inben_first1.in_cur:hover{
	background-color:#428bca;
	color:#fff;
	}
.inben_first1.in_cur a{
	color:#fff;
	}
.inben_first1.in_cur .icon_kcda{
	background-image:url(../../images/inventory/InventoryFile_icon1-2.png);
	}
/*
.inben_first1.in_cur .icon_rkgl{
	background-image:url(../../images/inventory/InventoryFile_icon2-2.png);
	}
.inben_first1.in_cur .icon_ckgl{
	background-image:url(../../images/inventory/InventoryFile_icon3-2.png);
	}
.inben_first1.in_cur .icon_zkgl{
	background-image:url(../../images/inventory/InventoryFile_icon4-2.png);
	}
.inben_first1.in_cur .icon_pdgl{
	background-image:url(../../images/inventory/InventoryFile_icon5-2.png);
	}
*/
.inben_first2.in_cur .b_arrow{
	background-image:url(../../images/inventory/InventoryFile_arrowt.png);
	}
.inben_first a{
	display:block;
	width:100%;
	height:100%;
	color:#525252;
	}
.inben_first .icon_L{
	display:inline-block;
	width:14px;
	height:14px;
	margin:9px 10px; 
	background-position:center center;
	background-repeat:no-repeat;
	vertical-align:top;
	}
.inben_first2 .b_arrow{
	position:absolute;
	right:30px;
	top:14px;
	width:9px;
	height:5px;
	background-position:center center;
	background-repeat:no-repeat;
	}
.inben_first2 .b_arrow{
	background-image:url(../../images/inventory/InventoryFile_arrowb.png);
	}
.inben_first .icon_kcda{
	background-image:url(../../images/inventory/InventoryFile_icon1-1.png);
	}
.inben_first .icon_rkgl{
	background-image:url(../../images/inventory/InventoryFile_icon2-1.png);
	}
.inben_first .icon_ckgl{
	background-image:url(../../images/inventory/InventoryFile_icon3-1.png);
	}
.inben_first .icon_zkgl{
	background-image:url(../../images/inventory/InventoryFile_icon4-1.png);
	}
.inben_first .icon_pdgl{
	background-image:url(../../images/inventory/InventoryFile_icon5-1.png);
	}

.inben_second{
	padding:5px 0;
	}	
.inben_second .sed_item{
	width:168px;
	height:32px;
	line-height:32px;
	font-size:12px;
	cursor:pointer;
	}
.inben_second .sed_item.sed_cur,
.inben_second .sed_item.sed_cur:hover{
	background-color:#428bca;
	color:#fff;
	}
.inben_second .sed_item.sed_cur .icon_sed{
	background-image:url(../../images/inventory/InventoryFile_line1-2.png);
	}
.inben_second .sed_item:hover{
	background-color:#f1f1f1;
	}
.inben_second .icon_sed{
	display:inline-block;
	width:18px;
	height:32px;
	margin-left:38px;
	margin-right:5px;
	background-position:left top;
	background-repeat:no-repeat;
	vertical-align:top;
	}
.inben_second .icon_sed{
	background-image:url(../../images/inventory/InventoryFile_line1-1.png);
	}
/*折叠按钮*/
.collapse_btn{
	position:absolute;
	right:-16px;
	width:16px;
	height:76px;
	margin-top:-98px;
	background-image:url(../../images/inventory/InventoryFile_arrowr.png);
	cursor:pointer;
	}
/*右侧主体内容*/
.inbentory_content{
	min-height:500px;
	padding-left:179px-;
	overflow:hidden;
	}
.inbentory_content.hide_inben{
	padding-left:0-;
	}
.inbentory_search_wap{
	min-height:780px-;
	margin:20px;
	padding:20px;
	box-sizing:border-box;
	background-color:#fff;
	}
.inbentory_search_wap .search_header{
	margin-top:0;
	}
.inventory_modal_table{
	font-size:12px;
	}
.inventory_modal_table th{
	background-color:#9dc4f2;
	font-size:14px;
	font-weight:normal;
	color:#fff;
	}
.inventory_modal_table th,
.inventory_modal_table td{
	padding:14px 0;
	text-align:center;
	}
.inventory_modal_table .odd td{
	background-color:#fff;
	}
.inventory_modal_table .even td{
	background-color:#f8f8f8;
	}
.inventory_modal_table tr:hover td{
	background-color:#ecf7e6;
	}
.inventory_modal_table .icon_link img{
	width:14px;
	height:14px;
	margin:0 2px;
	}
.inventory_modal_table .color_b{
	color:#3c6cb6;
	}
	
	
/* 入库详细记录页面样式 */
/*物料信息*/
.material_infor_title .text_title{
	float:left;
	line-height:34px;
	font-size:15px;
	font-weight:normal;
	}
.material_table{
	font-size:12px;
	}
.material_table .li_item{
	padding:0;
	border-bottom:1px dashed #ddd;
	overflow:hidden;
	}
.material_table .space_harf12,
.material_table .space_one12,
.material_table .space_two12{
	display:inline-block;
	height:5px;
	vertical-align:top;
	}
.material_table .space_harf12{
	width:6px;
	}
.material_table .space_one12{
	width:12px;
	}
.material_table .space_two12{
	width:24px;
	}
.material_table .dl_dt{
	float:left;
	width:110px;
	height:40px;
	line-height:40px;
	font-weight:normal;
	color:#959595;
	}
.material_table .dl_dt img{
	width:14px;
	height:14px;
	margin:13px 10px;
	vertical-align:top;
	}
.material_table .dl_dd{
	min-height:40px;
	}
.material_table .text_num{
	line-height:20px;
	padding:10px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	