@charset "utf-8";
/* CSS Document */
html{
	height:100%;
	overflow:hiden;
	}
body{
	min-height:100%;
	}
em{ 
	font-style:normal;
	}
.inline_block .bootstrap-select{
	margin-right:0;
	}
.bootSelt80 .bootstrap-select{  
	width:80px;
	}
.bootSelt80 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:80px;
	}
.bootSelt180 .bootstrap-select{  
	width:180px;
	}
.bootSelt180 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:180px;
	}
.inline_block .bootstrap-select.btn-group .dropdown-menu{
	max-width:100%;
	}
/*单据的下拉菜单样式*/
.search_header2 .inline_block .bootstrap-select > .btn,
.search_header2 .form_datetime input{
	height:24px;
	line-height:20px;
	padding-top:0;
	padding-bottom:0;
	border:0;
	border-top:1px solid #fff;
	border-bottom:1px solid #ddd;
	border-radius:0;
	} 
.search_header2 .danju_textarea{
	margin-top:10px;
	margin-left:20px;
	width:506px;
	height:24px;
	line-height:22px;
	border:0;
	border-top:1px solid #fff;
	border-bottom:1px solid #ddd;
	}
.search_header2 .se_selt180 dt{
	line-height:24px;
	padding-top:10px;
	}
.search_header2 .se_selt180 dd{
	padding-top:10px;
	}
.search_header2 .dropdown-toggle:hover, .search_header2 .dropdown-toggle:focus, .search_header2 .dropdown-toggle:active, .search_header2 .dropdown-toggle.active,
.search_header2 .open > .dropdown-toggle.btn-default{
	background-color:#fff;
	box-shadow:none;
	outline:none !important;
	outline-offset:inherit;
	}
	

/* 库存档案页样式 */
.inbentory_file_main{
	background-color:#f6f6f6;
	box-sizing:border-box;
	}
.inbentory_file_main .breadNav_wap{
	background-color:#fff;
	border:0;
	}
/*库存左侧二级*/
.inbentory_level_wap{
	position:relative;
	float:left;
	padding:20px 0-;
	background-color:#fff;
	box-sizing:border-box;
	}
.inbentory_level{
	display:inline-block;
	min-height:865px-;
	padding:20px 5px;
	border-right:1px solid #dfdfdf;
	box-sizing:border-box;
	vertical-align:top;
	}
.inben_first{
	position:relative;
	display:block;
	width:168px;
	height:32px;
	line-height:32px;
	font-size:12px;
	font-weight:normal;
	cursor:pointer;
	color:#525252;
	}
.inben_first1:hover{
	background-color:#f1f1f1;
	}
.inben_first1.in_cur,
.inben_first1.in_cur:hover{
	background-color:#428bca;
	color:#fff;
	}
.inben_first1.in_cur a{
	color:#fff;
	}
.inben_first1.in_cur .icon_kcda{
	background-image:url(../../images/inventory/InventoryFile_icon1-2.png);
	}
/*
.inben_first1.in_cur .icon_rkgl{
	background-image:url(../../images/inventory/InventoryFile_icon2-2.png);
	}
.inben_first1.in_cur .icon_ckgl{
	background-image:url(../../images/inventory/InventoryFile_icon3-2.png);
	}
.inben_first1.in_cur .icon_zkgl{
	background-image:url(../../images/inventory/InventoryFile_icon4-2.png);
	}
.inben_first1.in_cur .icon_pdgl{
	background-image:url(../../images/inventory/InventoryFile_icon5-2.png);
	}
*/
.inben_first2.in_cur .b_arrow{
	background-image:url(../../images/inventory/InventoryFile_arrowt.png);
	}
.inben_first a{
	display:block;
	width:100%;
	height:100%;
	color:#525252;
	}
.inben_first .icon_L{
	display:inline-block;
	width:14px;
	height:14px;
	margin:9px 10px; 
	background-position:center center;
	background-repeat:no-repeat;
	vertical-align:top;
	}
.inben_first2 .b_arrow{
	position:absolute;
	right:30px;
	top:14px;
	width:9px;
	height:5px;
	background-position:center center;
	background-repeat:no-repeat;
	}
.inben_first2 .b_arrow{
	background-image:url(../../images/inventory/InventoryFile_arrowb.png);
	}
.inben_first .icon_kcda{
	background-image:url(../../images/inventory/InventoryFile_icon1-1.png);
	}
.inben_first .icon_rkgl{
	background-image:url(../../images/inventory/InventoryFile_icon2-1.png);
	}
.inben_first .icon_ckgl{
	background-image:url(../../images/inventory/InventoryFile_icon3-1.png);
	}
.inben_first .icon_zkgl{
	background-image:url(../../images/inventory/InventoryFile_icon4-1.png);
	}
.inben_first .icon_pdgl{
	background-image:url(../../images/inventory/InventoryFile_icon5-1.png);
	}

.inben_second{
	padding:5px 0;
	}	
.inben_second .sed_item{
	width:168px;
	height:32px;
	line-height:32px;
	font-size:12px;
	cursor:pointer;
	}
.inben_second .sed_item.sed_cur,
.inben_second .sed_item.sed_cur:hover{
	background-color:#428bca;
	color:#fff;
	}
.inben_second .sed_item.sed_cur .icon_sed{
	background-image:url(../../images/inventory/InventoryFile_line1-2.png);
	}
.inben_second .sed_item:hover{
	background-color:#f1f1f1;
	}
.inben_second .icon_sed{
	display:inline-block;
	width:18px;
	height:32px;
	margin-left:38px;
	margin-right:5px;
	background-position:left top;
	background-repeat:no-repeat;
	vertical-align:top;
	}
.inben_second .icon_sed{
	background-image:url(../../images/inventory/InventoryFile_line1-1.png);
	}
/*折叠按钮*/
.collapse_btn{
	position:absolute;
	right:-16px;
	width:16px;
	height:76px;
	margin-top:-98px;
	background-image:url(../../images/inventory/InventoryFile_arrowr.png);
	cursor:pointer;
	}
/*右侧主体内容*/
.inbentory_content{
	min-height:500px;
	padding-left:179px-;
	overflow:hidden;
	}
.inbentory_content.hide_inben{
	padding-left:0-;
	}
.inbentory_search_wap{
	min-height:780px-;
	margin:20px;
	padding:20px;
	box-sizing:border-box;
	background-color:#fff;
	}
.inbentory_search_wap .search_header{
	margin-top:0;
	}
.inventory_modal_table{
	font-size:12px;
	}
.inventory_modal_table th{
	background-color:#9dc4f2;
	font-size:14px;
	font-weight:normal;
	color:#fff;
	}
.inventory_modal_table th,
.inventory_modal_table td{
	padding:14px 0;
	text-align:center;
	}
.inventory_modal_table .odd td{
	background-color:#fff;
	}
.inventory_modal_table .even td{
	background-color:#f8f8f8;
	}
.inventory_modal_table tr:hover td{
	background-color:#ecf7e6;
	}
.inventory_modal_table .icon_link img{
	width:14px;
	height:14px;
	margin:0 2px;
	}
.inventory_modal_table .color_b{
	color:#3c6cb6;
	}
.inventory_modal_table .td_line{
	border-right:1px solid #ddd;
	}
.inventory_modal_table .td_mater{
	padding:0;
	}
.inventory_modal_table .mater_text1{
	display:inline-block;
	width:90%;
	height:46px;
	line-height:46px;
	overflow:hidden;
	vertical-align:top;
	}
.scancode_btn{
	display:inline-block;
	height:20px;
	line-height:20px;
	padding:0 5px;
	border-radius:4px;
	background-color:#5cb85c;
	font-size:12px;
	color:#fff;
	vertical-align:middle;
	}
.scancode_btn:hover{
	color:#fff;
	}
.scancode_btn.scan_no{
	background-color:#b5b5b5;
	}
.total_price{
	line-height:30px;
	text-align:right;
	font-size:12px;
	}
.total_price .text_name{
	display:inline-block;
	height:30px;
	line-height:30px;
	margin-left:20px;
	}
.total_price .text_name em{
	padding:0 3px;
	font-size:16px;
	font-weight:bold;
	color:#f00;
	}
.mater_name_block{
	position:relative;
	}
.mater_name_hd{
	width:100%;
	height:46px;
	}
.mater_name_hd input{
	width:100%;
	height:100%;
	padding-right:30px;
	border:1px solid #fff;
	box-sizing:border-box;
	border-radius:0;
	background:none;
	text-align:left;
	word-break:break-all;
	}
.mater_name_hd input:focus{
	border-color:#418bca;
	}
.mater_name_hd .add_mater{
	position:absolute;
	right:0;
	top:0;
	width:24px;
	height:100%;
	background:url(../../images/inventory/InventoryFile_add2.jpg) no-repeat center center;
	cursor:pointer;
	}
.mater_name_bd{
	position:absolute;
	left:0;
	top:48px;
	display:none;
	width:100%;
	min-width:200px;
	margin-left:-1px;
	border:1px solid #ddd;
	box-sizing:border-box;
	background-color:#fff;
	text-align:left;
	font-size:12px;
	}
.mater_name_bd .new_mater{
	display:block;
	height:34px;
	line-height:34px;
	padding:0 10px;
	background-color:#f4f4f4;
	cursor:pointer;
	}
.mater_name_bd .new_mater img{
	width:10px;
	height:10px;
	vertical-align:top;
	margin:12px 5px 0 0;
	}
.mater_name_bd .new_mater:hover{
	color:#000;
	}
.mater_name_list{
	height:120px;
	overflow:auto;
	}
.mater_name_list li{
	height:24px;
	line-height:24px;
	padding:0 10px;
	cursor:pointer;
	white-space:nowrap;
	}
.mater_name_list li.m_cur{
	background-color:#f4f4f4;
	}
.mater_name_list li:hover{
	color:#000;
	}

	
	
/* 入库详细记录页面样式 */
/*物料信息*/
.material_infor_title .text_title{
	float:left;
	line-height:34px;
	font-size:15px;
	font-weight:normal;
	}
.material_infor_title .ylck_btn{
	float:right;
	display:inline-block;
	width:29px;
	height:29px;
	margin-top:3px;
	background:url(../../images/inventory/GoodsStorage_arrowt.png);
	cursor:pointer;
	}
.material_infor_title .ylck_btn.ylck_hide{
	background:url(../../images/inventory/GoodsStorage_arrowb.png);
	}
.material_table{
	font-size:12px;
	}
.material_table .li_item{
	padding:0;
	border-bottom:1px dashed #ddd;
	overflow:hidden;
	}
.material_table .space_harf12,
.material_table .space_one12,
.material_table .space_two12{
	display:inline-block;
	height:5px;
	vertical-align:top;
	}
.material_table .space_harf12{
	width:6px;
	}
.material_table .space_one12{
	width:12px;
	}
.material_table .space_two12{
	width:24px;
	}
.material_table .dl_dt{
	float:left;
	width:110px;
	height:40px;
	line-height:40px;
	font-weight:normal;
	color:#959595;
	}
.material_table .dl_dt img{
	width:14px;
	height:14px;
	margin:13px 10px;
	vertical-align:top;
	}
.material_table .dl_dd{
	min-height:40px;
	}
.material_table .text_num{
	line-height:20px;
	padding:10px;
	}
/* 库存详细记录页面样式 */
/*物料信息*/
.material_name{
	max-width:100px;
	height:22px;
	line-height:22px;
	font-size:16px;
	white-space:nowrap;
	text-overflow:ellipsis;
	word-break:break-all;
	overflow:hidden;
	vertical-align:top;
	}
.material_code{
	height:22px;
	line-height:22px;
	font-size:12px;
	color:#959595;
	vertical-align:top;
	}
.material_class{
	height:22px;
	line-height:22px;
	padding:0 15px;
	border-radius:11px;
	background-color:#71abef;
	font-size:12px;
	color:#fff;
	vertical-align:top;
	}
.material_size{
	height:22px;
	line-height:22px;
	font-size:14px;
	color:#959595;
	}
.material_size span{
	color:#525252;
	}
.material_number{
	display:inline-block;
	overflow:hidden;
	vertical-align:top;
	}
.material_number dt{
	float:left;
	width:80px;
	height:48px;
	line-height:48px;
	padding-right:10px;
	box-sizing:border-box;
	font-size:24px;
	font-weight:normal;
	text-align:right;
	}	
.material_number dd{
	float:left;
	height:48px;
	color:#959595;
	}
.material_number .p_text1{
	height:24px;
	line-height:24px;
	font-size:12px;
	}
.material_number .p_text2{
	height:24px;
	line-height:24px;
	font-size:14px;
	}
.material_number .color_b{
	color:#2a84e9;
	}	
.material_number .color_g{
	color:#3cb716;
	}	
.material_number .color_y{
	color:#bd8e2a;
	}
	
/* 入库单页面样式 */	
/*添加物料模态框*/
.public-search{
	position:relative;
	}
.public-search .nw300{
	width:300px;
	}
.public-search input.form-control[type="text"]{
	padding-left:25px;
	}
.material_dialog{
	width:760px;
	margin:30px auto;
	}
.modal-header .modal-title{
	height:20px;
	line-height:20px;
	font-size:14px;
	font-weight:bold;
	}
.modal-header .i_close{
	float:right;
	width:11px;
	height:11px;
	margin-top:5px;
	background:url(../../images/commons/farmingIco16.jpg);
	cursor:pointer;
	}
.modal-header .i_close:hover{
	background:url(../../images/commons/farmingIco17.jpg);
	}
.modal_body{
	height:602px;
	padding:5px 20px 20px;
	box-sizing:border-box;
	overflow-y:auto;
	}
.new_material_btn{
	height:20px;
	line-height:20px;
	margin-top:7px;
	padding-left:24px;
	background:url(../../images/inventory/StockIn_add.jpg) no-repeat left center;
	font-size:12px;
	color:#66bc66;
	}
.new_material_btn:hover{
	color:#55ae55;
	}
.material_list th,
.material_list td{
	border:1px solid #ddd;
	text-align:center;
	}
.material_list th{
	padding:12px 0;
	font-size:14px;
	background-color:#fafafa;
	}
.material_list td{
	padding:8px 0;
	font-size:12px;
	}
.material_list td.bg1{
	background-color:#fafafa;
	}
.material_list .icheckbox_minimal-blue{
	float:inherit;
	display:inline-block;
	}
.material_list .icon_link img{
	width:14px;
	height:14px;
	margin:0 2px;
	}
.modal_content{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	display:none;
	z-index:5;
	}
/*通用编辑信息TABLE*/
.edit_title_wap{ 
	width:96%;
	margin:0 auto;
	border-bottom:1px solid #ddd; 
	}
.edit_title_wap .text_title{ 
	height:34px; 
	line-height:34px; 
	font-size:16px; 
	color:#000;
	}
.edit_title_wap .text_title span{ 
	padding-left:20px; 
	font-size:14px; 
	color:#cdcdcd;
	}
.edit_infor_table{
	width:940px;
	margin:40px auto 20px;
	font-size:12px;
	}
.edit_infor_table .td_lt{
	width:125px-;
	line-height:34px;
	padding-right:15px;
	padding-bottom:20px;
	box-sizing:border-box;
	text-align:right;
	}
.edit_infor_table .td_rt{
	position:relative;
	width:345px-;
	padding-bottom:20px;
	box-sizing:border-box;
	}
.edit_infor_table .form-control{
	font-size:14px;
	}
.edit_infor_table .form-control.w80{
	width:80px;
	}
.edit_infor_table .form-control.w220{
	width:220px;
	}
.edit_infor_table .form-control.w400{
	width:400px;
	}
.edit_infor_table .textarea400{
	width:400px;
	height:100px;
	position:relative;
	border:1px solid #ddd;
	border-radius:4px;
	box-sizing:border-box;
	overflow:hidden;
	}
.edit_infor_table .textarea400 textarea{
	width:100%;
	height:80px;
	resize:none;
	border:0;
	border-radius:0;
	box-sizing:border-box;
	box-shadow:none;
	}
.edit_infor_table textarea:focus{
	box-shadow:none;
	}
.edit_infor_table .textarea400 .s_text{
	position:absolute;
	right:5px;
	bottom:0;
	line-height:20px;
	font-size:12px;
	color:#ccc;
	}
/**/
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	