@charset "utf-8";
/* CSS Document */

html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,div,p,strong,em,i,b,font,a,span{ margin: 0;padding: 0;}
body{ min-width:1000px; color:#525252;}
.content{ min-width:1000px;}
ul,ol,li{ list-style: none;}
.fl{ float:left; display:inline-block;}
.fr{ float:right; display:inline-block;}
.clear{ clear:both;}
.clear:after{ clear:both; content:""; display:block; visibility:hidden; height:0;}
img{ border: none;}
em{ font-style:normal;}
.mt5{ margin-top: 5px;}
.mt10{ margin-top: 10px;}
.mt15{ margin-top: 15px;}
.mr5{ margin-right: 5px;}
.mr10{ margin-right: 10px;}
.mr20{margin-right: 20px;}
.mb5{ margin-bottom: 5px;}
.mb10{ margin-bottom: 10px;}
.mb15{ margin-bottom: 15px;}
.ml5{ margin-left: 5px;}
.ml10{ margin-left: 10px;}
.ml20{margin-left: 20px;}
.pt5{ padding-top: 5px;}
.pt8{ padding-top: 8px;}
.pt10{ padding-top: 10px;}
.btn{ height: 34px; line-height: 20px; padding: 6px 19px;box-sizing: border-box;}
.bootstrap-select>.btn{ padding-left: 12px;}
.bootstrap-select{ width: 100%;}
.bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ width: 100%;}
.bootstrap-select.btn-group .dropdown-menu{ max-width: 200px; height: 200px-;}/* 控制下拉菜单最大宽和高 */
.octicon-search02{ background:url(../../images/cjsearch_bg.png) no-repeat;}

/* 公用面包屑导航  */
.mr5{ margin-right:5px;}
.r_t_l{ font-family:'微软雅黑';}
.r_t_l span{ font-size:12px;}
.r_t_l em{ padding:0 5px; font-style:normal; }
.cm_resumeList li{float: left;}
.cm_resumeList li a{display: block; height: 44px; line-height: 44px; padding: 0 10px; color: #3f3f3f; overflow: hidden; font-family: '宋体';}
.borderBt{border-bottom: 2px solid #33aedc;}
.cm_resumeList li img{float: left; margin-top: 16px;}
.cm_resumeList li span{float: left; text-indent: 10px;}
/* 公用搜索及下拉菜单 */
.public-search{position:relative;}
.search_header{ position: relative; padding: 10px 0; padding-right: 70px;}
.search_header .form-control{ width: 300px; line-height: 20px; padding-left: 25px; font-size: 12px; color: #cbcbcb;}
.search_header .btn{ font-size: 12px;}
.search_blt{ float: left; padding: 5px 0;}
.search_brt{ position: absolute-; right: 0-; top: 15px-; float:left;margin:0 0 0 10px;}
.search_selected{ padding: 5px 0;}
.se_selt180{ width: 180px;}
.se_selt180 dt{ float: left; width: 80px; line-height: 34px; padding-right: 10px; text-align: right;box-sizing: border-box;}
.se_selt180 dd{ float: left;}
.boot_selected_100{ width: 100px;}

/* 排序方式--图表详情 */
.sort_way{float:right; background-color:#f7f7f7;border-radius:5px;overflow:hidden;}
.sort_way p{float:left;height:32px;line-height:32px;padding:0 12px;box-sizing:content-box;font-size:14px;color:#333;cursor:pointer;}
.sort_way p.dq_cur{background-color:#418bca;color:#fff;border-color:#418bca;}
.sort_way .btn_tb{border:1px solid #ddd;border-right:0;border-radius:5px 0 0 5px;}
.sort_way .btn_xq{border:1px solid #ddd;border-left:0;border-radius:0 5px 5px 0;}

/* 主体样式 */
.se_selt180{ width: 166px;}
.se_selt180 dt{ width: 60px;}
.search_header{padding-right:0;}
.search_header .form-control.w140{ width:140px;}
.year_box{background-color:#fff;overflow:hidden;}
.year_box .y_item{float:left;height:32px;line-height:32px;padding:0 10px;border:1px solid #ddd;box-sizing:content-box;text-align:center;color:#a9a9a9;}
.year_box .y_item.y_lt,
.year_box .y_item.y_rt{font-family: 宋体;font-weight:bold;font-size:14px;cursor:pointer;}
.year_box .y_item.y_lt{border-radius:5px 0 0 5px;}
.year_box .y_item.y_rt{border-radius:0 5px 5px 0;}
.year_box .y_item.y_ct{padding:0 16px;border-left:0;border-right:0;color:#333;}
.bootstrap-select .dropdown-menu li.selected a i.check-mark{position: absolute;display: inline-block;right: 15px; margin-top: 2.5px;}

/* 甘特图重置的样式 */
.gantt_wrap{position:relative;font-family: "微软雅黑";}
.gantt_wrap .gantt_spacer{position:absolute;left:1px;top:1px;z-index: 1;height:47px;line-height:47px;font-size:14px;
background-color: #f5faff;overflow:hidden;}
.gantt_wrap .gantt_spacer .txt_name,
.gantt_wrap .gantt_spacer .txt_status{float:left;margin:0;text-align:center;}
.gantt_wrap .gantt_spacer .txt_name{width:100px;}
.gantt_wrap .gantt_spacer .txt_status{width:70px;}
.gantt{position:relative;z-index:0;border:0;margin:0;}
.fn-gantt *,
.fn-gantt *:after,
.fn-gantt *:before {-webkit-box-sizing: content-box; -moz-box-sizing: content-box;box-sizing: content-box;}
.fn-gantt .navigate{width:586px;}
.fn-gantt .fn-content{border:1px solid #ddd;}
.fn-gantt .bottom{background: #f6f6f6;}
.fn-gantt .spacer{margin-bottom:15px-;}
.fn-gantt .dataPanel{ background-image: url(../../images/grid.png);}
.fn-gantt .navigate .nav-slider-button{ background-image: url(../../images/slider_handle2.png);}
.fn-gantt .sa, .fn-gantt .sn, .fn-gantt .wd{display: none-;}
.fn-gantt .today{display: none;}
.fn-gantt .rightPanel .year,
.fn-gantt .rightPanel .year .fn-label{height:18px-;line-height: 18px-;background-color: #f5faff;}
.fn-gantt .rightPanel .year,
.fn-gantt .rightPanel .month{border-bottom:1px solid #f5faff; box-sizing: border-box;font-weight:normal;}
.fn-gantt .rightPanel .month{border-left:1px solid #f5faff;}
.fn-gantt .toprow{border-bottom:1px solid #ddd;background-color: #f5faff;}
.fn-gantt .row{height:18px-;line-height: 18px-;background-color: #f5faff;}
.fn-gantt .rightPanel .month,
.fn-gantt .rightPanel .month .fn-label{height:30px-;line-height: 30px-;background-color: #f5faff;}
.fn-gantt .nav-link{background-image: url(../../images/icon_sprite2.png) !important;}
.fn-gantt .bar{border-radius:5px;}
.fn-gantt .navigate{padding:14px 140px 14px 0-;overflow:hidden;}
.fn-gantt .navigate .nav-slider{float:right;}
.fn-gantt .leftPanel{width:170px;}
.fn-gantt .leftPanel .name,
.fn-gantt .leftPanel .desc{height:40px-;line-height:40px-;font-size:14px;color:#333;text-align:center; box-sizing:border-box;font-weight:normal;background-color:#fff;margin:0;}
.fn-gantt .leftPanel .name{width:100px;border-right:1px solid #ddd;}
.fn-gantt .leftPanel .desc{width:70px;margin:0;}
.fn-gantt .leftPanel .name .fn-label{width:100px;margin:0;}
.fn-gantt .leftPanel .desc .fn-label{width:70px; margin-left:0;}
.fn-gantt .ganttRed{background-color: #fd8b92;}
.fn-gantt .ganttGreen{background-color: #4ad1d3;}
.fn-gantt .ganttBlue{background-color: #5fb0ea;}
.fn-gantt .ganttOrange{background-color: #ffac88;}
.fn-gantt .ganttRed .fn-label,
.fn-gantt .ganttGreen .fn-label,
.fn-gantt .ganttBlue .fn-label,
.fn-gantt .ganttOrange .fn-label{font-size:12px;color:#fff !important;}
