@charset "utf-8";
/* CSS Document */
html{
	height:100%;
	overflow:hiden;
	}
body{
	min-height:100%;
	}
em{ 
	font-style:normal;
	}
.inline_block .bootstrap-select{
	margin-right:0;
	}
.bootSelt80 .bootstrap-select{  
	width:80px;
	}
.bootSelt80 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:80px;
	}
.bootSelt180 .bootstrap-select{  
	width:180px;
	}
.bootSelt180 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:180px;
	}
.inline_block .bootstrap-select.btn-group .dropdown-menu{
	max-width:100%;
	}
/*单据的下拉菜单样式*/
.search_header2 .inline_block .bootstrap-select > .btn,
.search_header2 .form_datetime input{
	height:24px;
	line-height:20px;
	padding-top:0;
	padding-bottom:0;
	border:0;
	border-top:1px solid #fff;
	border-bottom:1px solid #ddd;
	border-radius:0;
	} 
.search_header2 .danju_textarea{
	margin-top:10px;
	margin-left:20px;
	width:506px;
	height:24px;
	line-height:22px;
	border:0;
	border-top:1px solid #fff;
	border-bottom:1px solid #ddd;
	}
.search_header2 .se_selt180 dt{
	line-height:24px;
	padding-top:10px;
	}
.search_header2 .se_selt180 dd{
	padding-top:10px;
	}
.search_header2 .dropdown-toggle:hover, .search_header2 .dropdown-toggle:focus, .search_header2 .dropdown-toggle:active, .search_header2 .dropdown-toggle.active,
.search_header2 .open > .dropdown-toggle.btn-default{
	background-color:#fff;
	box-shadow:none;
	outline:none !important;
	outline-offset:inherit;
	}
	

/* 库存档案页样式 */
.inbentory_file_main{
	background-color:#f6f6f6;
	box-sizing:border-box;
	}
.inbentory_file_main .breadNav_wap{
	background-color:#fff;
	border:0;
	}
/*库存左侧二级*/
.inbentory_level_wap{
	position:relative;
	float:left;
	padding:20px 0-;
	background-color:#fff;
	box-sizing:border-box;
	}
.inbentory_level{
	display:inline-block;
	min-height:865px-;
	padding:20px 5px;
	border-right:1px solid #dfdfdf;
	box-sizing:border-box;
	vertical-align:top;
	}
.inben_first{
	position:relative;
	display:block;
	width:168px;
	height:32px;
	line-height:32px;
	font-size:12px;
	font-weight:normal;
	cursor:pointer;
	color:#525252;
	}
.inben_first1:hover{
	background-color:#f1f1f1;
	}
.inben_first1.in_cur,
.inben_first1.in_cur:hover{
	background-color:#428bca;
	color:#fff;
	}
.inben_first1.in_cur a{
	color:#fff;
	}
.inben_first1.in_cur .icon_kcda{
	background-image:url(../../images/inventory/InventoryFile_icon1-2.png);
	}
/*
.inben_first1.in_cur .icon_rkgl{
	background-image:url(../../images/inventory/InventoryFile_icon2-2.png);
	}
.inben_first1.in_cur .icon_ckgl{
	background-image:url(../../images/inventory/InventoryFile_icon3-2.png);
	}
.inben_first1.in_cur .icon_zkgl{
	background-image:url(../../images/inventory/InventoryFile_icon4-2.png);
	}
.inben_first1.in_cur .icon_pdgl{
	background-image:url(../../images/inventory/InventoryFile_icon5-2.png);
	}
*/
.inben_first2.in_cur .b_arrow{
	background-image:url(../../images/inventory/InventoryFile_arrowt.png);
	}
.inben_first a{
	display:block;
	width:100%;
	height:100%;
	color:#525252;
	}
.inben_first .icon_L{
	display:inline-block;
	width:14px;
	height:14px;
	margin:9px 10px; 
	background-position:center center;
	background-repeat:no-repeat;
	vertical-align:top;
	}
.inben_first2 .b_arrow{
	position:absolute;
	right:30px;
	top:14px;
	width:9px;
	height:5px;
	background-position:center center;
	background-repeat:no-repeat;
	}
.inben_first2 .b_arrow{
	background-image:url(../../images/inventory/InventoryFile_arrowb.png);
	}
.inben_first .icon_kcda{
	background-image:url(../../images/inventory/InventoryFile_icon1-1.png);
	}
.inben_first .icon_rkgl{
	background-image:url(../../images/inventory/InventoryFile_icon2-1.png);
	}
.inben_first .icon_ckgl{
	background-image:url(../../images/inventory/InventoryFile_icon3-1.png);
	}
.inben_first .icon_zkgl{
	background-image:url(../../images/inventory/InventoryFile_icon4-1.png);
	}
.inben_first .icon_pdgl{
	background-image:url(../../images/inventory/InventoryFile_icon5-1.png);
	}

.inben_second{
	padding:5px 0;
	}	
.inben_second .sed_item{
	width:168px;
	height:32px;
	line-height:32px;
	font-size:12px;
	cursor:pointer;
	}
.inben_second .sed_item.sed_cur,
.inben_second .sed_item.sed_cur:hover{
	background-color:#428bca;
	color:#fff;
	}
.inben_second .sed_item.sed_cur .icon_sed{
	background-image:url(../../images/inventory/InventoryFile_line1-2.png);
	}
.inben_second .sed_item:hover{
	background-color:#f1f1f1;
	}
.inben_second .icon_sed{
	display:inline-block;
	width:18px;
	height:32px;
	margin-left:38px;
	margin-right:5px;
	background-position:left top;
	background-repeat:no-repeat;
	vertical-align:top;
	}
.inben_second .icon_sed{
	background-image:url(../../images/inventory/InventoryFile_line1-1.png);
	}
/*折叠按钮*/
.collapse_btn{
	position:absolute;
	right:-16px;
	width:16px;
	height:76px;
	margin-top:-98px;
	background-image:url(../../images/inventory/InventoryFile_arrowr.png);
	cursor:pointer;
	}
/*右侧主体内容*/
.inbentory_content{
	min-height:500px;
	padding-left:179px-;
	overflow:hidden;
	}
.inbentory_content.hide_inben{
	padding-left:0-;
	}
.inbentory_search_wap{
	min-height:780px-;
	margin:20px;
	padding:20px;
	box-sizing:border-box;
	background-color:#fff;
	}
.inbentory_search_wap .search_header{
	margin-top:0;
	}
.inventory_modal_table{
	font-size:12px;
	}
.inventory_modal_table th{
	background-color:#9dc4f2;
	font-size:14px;
	font-weight:normal;
	color:#fff;
	}
.inventory_modal_table th,
.inventory_modal_table td{
	padding:14px 0;
	text-align:center;
	}
.inventory_modal_table .odd td{
	background-color:#fff;
	}
.inventory_modal_table .even td{
	background-color:#f8f8f8;
	}
.inventory_modal_table tr:hover td{
	background-color:#ecf7e6;
	}
.inventory_modal_table .icon_link img{
	width:14px;
	height:14px;
	margin:0 2px;
	}
.inventory_modal_table .color_b{
	color:#3c6cb6;
	}
.inventory_modal_table .td_line{
	border-right:1px solid #ddd;
	}
.inventory_modal_table .td_mater{
	padding:0;
	}
.inventory_modal_table .mater_text1{
	display:inline-block;
	width:90%;
	height:46px;
	line-height:46px;
	overflow:hidden;
	vertical-align:top;
	}
.scancode_btn{
	display:inline-block;
	height:20px;
	line-height:20px;
	padding:0 5px;
	border-radius:4px;
	background-color:#5cb85c;
	font-size:12px;
	color:#fff;
	vertical-align:middle;
	}
.scancode_btn:hover{
	color:#fff;
	}
.scancode_btn.scan_no{
	background-color:#b5b5b5;
	}
.total_price{
	line-height:30px;
	text-align:right;
	font-size:12px;
	}
.total_price .text_name{
	display:inline-block;
	height:30px;
	line-height:30px;
	margin-left:20px;
	}
.total_price .text_name em{
	padding:0 3px;
	font-size:16px;
	font-weight:bold;
	color:#f00;
	}
.mater_name_block{
	position:relative;
	}
.mater_name_hd{
	width:100%;
	height:46px;
	}
.mater_name_hd input{
	width:100%;
	height:100%;
	padding-right:30px;
	border:1px solid #fff;
	box-sizing:border-box;
	border-radius:0;
	background:none;
	text-align:left;
	word-break:break-all;
	}
.mater_name_hd input:focus{
	border-color:#418bca;
	}
.mater_name_hd .add_mater{
	position:absolute;
	right:0;
	top:0;
	width:24px;
	height:100%;
	background:url(../../images/inventory/InventoryFile_add2.jpg) no-repeat center center;
	cursor:pointer;
	}
.mater_name_bd{
	position:absolute;
	left:0;
	top:48px;
	display:none;
	width:100%;
	min-width:200px;
	margin-left:-1px;
	border:1px solid #ddd;
	box-sizing:border-box;
	background-color:#fff;
	text-align:left;
	font-size:12px;
	}
.mater_name_bd .new_mater{
	display:block;
	height:34px;
	line-height:34px;
	padding:0 10px;
	background-color:#f4f4f4;
	cursor:pointer;
	}
.mater_name_bd .new_mater img{
	width:10px;
	height:10px;
	vertical-align:top;
	margin:12px 5px 0 0;
	}
.mater_name_bd .new_mater:hover{
	color:#000;
	}
.mater_name_list{
	height:120px;
	overflow:auto;
	}
.mater_name_list li{
	height:24px;
	line-height:24px;
	padding:0 10px;
	cursor:pointer;
	white-space:nowrap;
	}
.mater_name_list li.m_cur{
	background-color:#f4f4f4;
	}
.mater_name_list li:hover{
	color:#000;
	}

	
/*数字名片页面样式*/
.btn{
	border-color:#ddd ;
}
.inbentory_content.hide_inben{
	width: 100%;
	padding-left: 0;
}
.inbentory_search_wap{
	margin: 0;
	padding: 0 30px 0;
}
.inbentory_search_wap .breadNav_wap{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}
.inbentory_file_main{
	background: #fff;
}
.inbentory_level{
	position: relative;
	width: 180px;
	padding-top: 54px;
}
.inbentory_level .public-search{
	position: absolute;
	left: 5px;
	top: 10px;
	right: 5px;
	margin-bottom: 0;
}
.inbentory_level .public-search .form-control{
	padding: 6px 25px 6px 10px;
	font-size: 12px;
	color: #a8a8a8;
}
.inbentory_level .public-search .octicon-search02{
	float: right;
	left: auto;
	right: 8px;
	background: url(../../images/marketing/icon_search1.png);
}
.inbentory_level .inben_first a{
	width: 100%;
}
.inbentory_level .inben_first a{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.inben_first{
	position: relative;
}
.inben_first:before{
	position: absolute;
	left: 16px;
	top: 0;
	width: 3px;
	height: 9px;
	background: url(../../images/marketing/icon_line_b.png) repeat-x center top;
	content: '';
	overflow: hidden;
}
.inben_first:after{
	position: absolute;
	left: 16px;
	bottom: 0;
	width: 3px;
	height: 9px;
	background: url(../../images/marketing/icon_line_b.png) repeat-x center top;
	content: '';
	overflow: hidden;
}
.inben_first.i_first:before{
	background: none;
}
.inben_first.i_last:after{
	background: none;
}
/*数字卡片主体--左侧*/
.ellipsis{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
body{
	min-width: 1200px;
}
.red_star{
	height: 34px;
	line-height: 34px;
	padding-left: 5px;
	font-size: 12px;
	font-family: '宋体';
	color: #f00;
}
.card_table{
	position: relative;
	padding-right: 396px;
}
.card_left{
	
}
.border_ddd{
	border: 1px solid #ddd;
	border-radius: 8px;
	box-sizing: border-box;
	overflow: hidden;
}
.card_code_cont{
	margin-bottom: 14px;
}
.card_code_head{
	padding: 0 20px;
	background-color: #f1faff;
	overflow: hidden;
}
.card_code_head h4{
	float: left;
	height: 44px;
	line-height: 44px;
	font-size: 16px;
}
.card_code_head h4 img{
	float: left;
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: top;
	margin: 11px 10px 0 0;
}
.card_code_head .btn-success{
	float: right;
	height: 30px;
	margin-top: 7px;
	padding: 4px 8px;
	font-size: 12px;
}
.card_code_body{
	padding: 14px 20px;
	box-sizing: border-box;
}
.card_code_body dl{
	position: relative;
	padding-left: 276px;
}
.card_code_body dt{
	position: absolute;
	left: 0;
	top: 0;
	width: 256px;
	height: 256px;
	padding: 6px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	overflow: hidden;
}
.card_code_body dt .pic_map{
	width: 100%;
	height: 100%;
}
.card_code_body .mark_b{
	display: none;
	position: absolute;
	left: 6px;
	right: 6px;
	top: 6px;
	bottom: 6px;
	z-index: 1;
	background: #000;
	opacity: 0.5;
	filter:alpha(opacity=50);
}
.card_code_body .btn_edit{
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 69px;
	margin: -47px 0 0 -35px;
	font-weight: normal;
	color: #fff;
	text-align: center;
}
.card_code_body .icon_edit{
	display: inline-block;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-bottom: 8px;
	background-image: url(../../images/marketing/icon_modifymap.png);
	background-repeat: repeat;
	background-position: center center;
	border-radius: 50%;
}
.card_code_body .icon_edit img{
	width: 100%;
	height: 100%;
}
.card_code_body .btn_edit:hover .icon_edit{
	background-image: url(../../images/marketing/icon_modifymap2.png);
}
.card_code_body dt:hover .mark_b{
	display: block;
}
.card_code_body dt:hover .btn_edit{
	display: block;
}
.card_code_body dd{
	height: 256px;
}
.code_list li{
	position: relative;
	padding: 14px 0 14px 70px;
	line-height: 34px;
}
.code_list li .name{
	position: absolute;
	left: 0;
	top: 14px;
	height: 34px;
	font-size: 14px;
	color: #9a9a9a;
}
.code_list .item_title{
	padding-right: 20px;
	border-bottom: 1px dashed #ddd;
}
.code_list .item_title .red_star{
	position: absolute;
	right: 0;
	top: 14px;
	width: 20px;
	text-align: center;
	font-size: 12px;
	font-family: '宋体';
	color: #f00;
}
.code_list .item_link{
	padding-right: 90px;
}
.code_list .item_link .copy_link{
	position: absolute;
	right: 0;
	top: 14px;
	width: 80px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	cursor: pointer;
}
.code_list .item_share{
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
}
.code_list .item_share .img_code{
	float: left;
	width: 130px;
	height: 130px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	overflow: hidden;
	margin-right: 14px;
	padding: 4px;
}
.code_list .item_share .txt_tip{
	float: left;
	height: 30px;
	line-height: 30px;
	margin-top: 50px;
	padding-left: 26px;
	color: #86a8b1;
	background: url(../../images/marketing/icon_phone.png) no-repeat left center;
}

.card_set_cont .nav-tabs{
	margin-left: -1px;
}
.card_set_cont .nav-tabs>li>a{
	height: 46px;
	line-height: 25px;
	padding: 10px 22px;
	margin-right: 0;
	border-radius: 0;
	box-sizing: border-box;
	color: #868686;
}
.card_set_cont .nav-tabs>li.active>a, 
.card_set_cont .nav-tabs>li.active>a:hover, 
.card_set_cont .nav-tabs>li.active>a:focus{
	border-top-color: #fff;
	border-radius: 0;
	color: #333;
}
.card_set_cont .nav-tabs>li img{
	vertical-align: top;
	width: 14px;
	height: 14px;
	margin: 5px 5px 0 0;
}
.card_set_cont .tab-content{
	box-sizing: border-box;
	padding: 0;
	overflow-y: auto;
}
#mapSetting,#baseIntro,#shareSetting{
	padding: 20px;
	height: 100%;
	box-sizing: border-box;
}
#productIntro{
	height: 100%;
	position: relative;
	overflow: hidden;
}
.more_seting{
	position: relative;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
.more_seting:before{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 15px;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	content: '';
}
.more_seting span{
	position: relative;
	z-index: 1;
	width: 90px;
	padding: 0 30px 0 8px;
	box-sizing: border-box;
	background: #fff url(../../images/marketing/icon_arrowdown.png) no-repeat 64px center;
}
.more_seting.moreup span{
	width: 62px;
	padding: 0 30px 0 8px;
	background: #fff url(../../images/marketing/icon_arrowtop.png) no-repeat 42px center;
}
.enable_list{
	margin-left: -20px;
}
.enable_list li{
	float: left;
	width: 50%;
	padding-left: 20px;
	padding-bottom: 14px;
	box-sizing: border-box;
}
.enable_box{
	height: 32px;
	line-height: 30px;
	padding: 0 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
}
.enable_box .icon_16{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 7px 6px 0 0;
	vertical-align: top;
}
.enable_box .btn_set{
	color: #428bca;
}
.enable_box .icheckbox_minimal-blue{
	margin: 6px 5px 0 0;
}
#mapSetting .enable_list.h_hidden{
	height: 46px;
	overflow: hidden;
}
/*基地介绍内容*/
.base_pane_box{
	min-width: 720px;
}
.base_pane_box table{
	table-layout: fixed;
}
.base_pane_box th{
	padding-right: 14px;
	padding-bottom: 20px;
	box-sizing: border-box;
	text-align: right;
	height: 34px;
	line-height: 34px;
	font-weight: normal;
	color: #999;
	vertical-align: top;
}
.base_pane_box td{
	padding-bottom: 20px;
}
.base_pane_box .ipt_txt50{
	width: 50px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
.base_pane_box .ipt_txt240{
	width: 240px;
	font-size: 12px;
}
.base_pane_box .ipt_txt220{
	width: 220px;
	font-size: 12px;
}
.base_pane_box .ipt_txt140{
	width: 140px;
	font-size: 12px;
}
.base_pane_box .textarea_box{
	width: 340px;
	height: 72px;
	resize: none;
	font-size: 12px;
}
.base_pane_box .datetime_220{
	width: 220px;
}
.base_pane_box .datetime_140{
	width: 140px;
}
[class^="icon-"], [class*=" icon-"]{
	background-image: url(../../images/bootstrap/glyphicons-halflings.png);
}
.select_w60{
	width: 60px;
}
.select_w60 .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
}
.select_w60 .bootstrap-select>.btn{
	padding-left: 4px;
	padding-right: 10px;
}
.select_w60 .bootstrap-select.btn-group .btn .caret{
	right: 8px;
}

.file_pic{
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 100px;
	cursor: pointer;
}
.file_pic img{
	width: 100%;
	height: 100%;
}
.icheck_list li{
	display: inline-block;
	width: 100px;
	height: 34px;
	line-height: 18px;
	padding: 10px 0;
	vertical-align: top;
}
.icheck_list .icheckbox_minimal-blue{
	margin: 0 8px 0 0;
}
.base_pane_box .title_head{
	margin-bottom: 20px;
	padding: 6px 0;
	border-bottom: 1px solid #ddd;
}
.base_pane_box .title_head .txt_h4{
	line-height: 34px;
	margin-right: 10px;
	padding-right: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	background: #fff;
}
.base_pane_box .title_head .txt_english{
	line-height: 34px;
	font-size: 12px;
	color: #b2b2b2;
}
.base_pane_box .center_head{
	position: relative;
	border: 0;
}
.base_pane_box .center_head:after{
	position: absolute;
	left: 0;
	top: 23px;
	border-top: 1px solid #ddd;
	box-sizing: border-box;
	width: 100%;
	height: 17px;
	overflow: hidden;
	content: '';
}
.base_pane_box .center_head .txt_h4{
	position: relative;
	z-index: 1;
}
.base_pane_box .delete_type{
	margin-left: 30px;
}
.mark_b50{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.mark_w50{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 6;
	background: #fff;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.model_wrap{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 6;
	width: 870px;
	margin: -283px 0 0 -435px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 5px #d7d6d6;
}
.model_head{
	padding: 0 14px;
	height: 45px;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
}
.model_head .model_title{
	height: 44px;
	line-height: 44px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
.model_head .model_close{
	width: 14px;
	height: 14px;
	margin-top: 14px;
	background: url(../../images/marketing/farmingIco16.jpg) no-repeat center center;
	cursor: pointer;
}
.model_head .model_close:hover{
	background: url(../../images/marketing/farmingIco17.jpg) no-repeat center center;
}
.model_body{
	position: relative;
	height: 456px;
	padding: 20px 0 0 20px;
	box-sizing: border-box;
	overflow: auto;
}
.farm_table{
	table-layout: fixed;
}
.farm_table th{
	padding: 0 14px 20px 0;
	box-sizing: border-box;
	text-align: right;
	font-weight: normal;
}
.farm_table td{
	padding: 0 14px 20px 0;
	box-sizing: border-box;
}
.addpic_box{
	display: inline-block;
	vertical-align: top;
	width: 310px;
	height: 100px;
	margin: 10px 0;
	overflow: hidden;
}
.addpic_box .btn_add{
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 10px;
	background: url(../../images/marketing/file_btn100_3.jpg) no-repeat 0 0;
}
.addpic_box .txt_criterion{
	line-height: 20px;
	color: #f00;
}
.addpic_box .mt60{
	margin-top: 60px;
}
.pic_w318_h210{
	display: inline-block;
	width: 150px;
	height: 100px;
	margin: 10px 10px 10px 0;
	vertical-align: top;
}
.pic_w318_h210 img{
	width: 100%;
	height: 100%;
}
.model_foot{
	height: 65px;
	padding: 15px 20px 0;
	border-top: 1px solid #ddd;
	box-sizing: border-box;
	text-align: center;
}
.small_model_wrap{
	position: absolute;
	width: 446px;
	margin: -185px 0 0 -223px;
}
.small_model_wrap .model_body{
	height: 260px;
}
.small_model_wrap .textarea_box{
	width: 260px;
	height: 72px;
	resize: none;
	border: 1px solid #ddd;
	box-shadow: none;
}
/*产品介绍内容*/
.product_left{
	position: absolute;
	left: 0;
	top: 0;
	width: 208px;
	height: 100%;
	padding: 10px 4px;
	box-sizing: border-box;
	box-shadow: 0 0 5px #e2ecf7;
	overflow-y: auto;
}
.product_left .p_item{
	position: relative;
	width: 100%;
	border: 1px solid #fff;
	margin-bottom: 8px;
	padding: 8px 4px;
	box-sizing: border-box;
	cursor: pointer;
}
.product_left .p_item.dq_item{
	border: 1px solid #e2f0fc;
	background: #f8fcff;
}
.product_left .dl_dt{
	position: relative;
	float: left;
	width: 44px;
	height: 44px;
	margin-right: 10px;
	border-radius: 5px;
	overflow: hidden;
	overflow: hidden;
}
.product_left .dl_dt img{
	width: 100%;
	height: 100%;
}
.product_left .block_name{
	padding: 1px 0 10px 0;
	line-height: 16px;
}
.product_left .block_name .txt_name{
	display: inline-block;
	height: 16px;
	max-width: 90px;
	vertical-align: top;
	font-weight: bold;
	font-size: 14px;
	color: #333;
}
.product_left .block_name .icon_xh{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: top;
}
.product_left .block_weight{
	line-height: 16px;
	color: #666;
}
.product_left .block_weight .txt_weight{
	padding-left: 10px;
	color: #bbe48c;
	font-weight: bold;
}
.product_left .p_item .btn_delete{
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 14px;
	height: 14px;
	background: url(../../images/marketing/icon_delete.jpg) no-repeat;
}
.product_left .p_item.dq_item .btn_delete{
	display: block;
}
.product_right{
	height: 100%;
	padding-left: 208px;
}
.base_pane_box .iradio_minimal-blue{
	margin-right: 10px;
}
.new_trace_box{
	position: relative;
	width: 516px;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding-top: 20px;
	overflow: hidden;
}
.new_trace_box .btn_close{
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
	display: none;
	width: 37px;
	height: 36px;
	background: url(../../images/marketing/icon_delete2.png) no-repeat left top;
	cursor: pointer;
}
.new_trace_box:hover .btn_close{
	display: block;
}
/*分享设置内容*/
.share_preview_block {
    border: 1px solid #8fd166;
    border-radius: 4px;
    box-sizing: border-box;
    height: 120px;
    padding: 10px;
    position: relative;
    width: 280px;
}
.share_preview_block::before {
    border-color: transparent transparent transparent #8fd166;
    border-style: solid;
    border-width: 7px 6px;
    content: "";
    position: absolute;
    right: -13px;
    top: 25px;
}
.share_preview_block::after {
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 6px 5px;
    content: "";
    position: absolute;
    right: -10px;
    top: 26px;
}
.share_preview_block .share_people {
    background-color: #f1f1f1;
    height: 32px;
    position: absolute;
    right: -56px;
    top: 18px;
    width: 32px;
}
.share_preview_block .share_people img {
    height: 100%;
    width: 100%;
}
.share_preview_block .text_name {
    display: block;
    font-size: 15px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.share_preview_block .text_company {
    display: inline-block;
    line-height: 24px;
    max-height: 48px;
    overflow: hidden;
    vertical-align: middle;
    width: 96%;
}
.share_preview_block .preview_dl {
    display: table;
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
}
.share_preview_block .preview_dt {
    display: table-cell;
    height: 60px;
    width: 60px;
}
.share_preview_block .preview_dt img {
    border: 1px solid #ddd;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
}
.share_preview_block .preview_dd {
    display: table-cell;
    padding-left: 10px;
}

/*数字卡片主体 --右侧*/
.card_right{
	position: absolute;
	right: 0;
	top: 0;
	width: 380px;
}
.LivePreview_head{
	height: 44px;
	padding-top: 8px;
	background-color: #f1faff;
	box-sizing: border-box;
}
.LivePreview_head .l_item{
	float: left;
	width: 50%;
	padding: 0 14px;
	box-sizing: border-box;
}
.LivePreview_head .l_item a{
	display: block;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 16px;
	color: #95a6ad;
}
.LivePreview_head .l_item i{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: top;
	margin: 10px 10px 0 0;
	background-repeat:no-repeat ;
	background-position: center center;
}
.LivePreview_head .l_item.l_cur a{
	background: #fff;
	border-radius: 5px 5px 0 0;
	color: #60c0f0;
}
.LivePreview_head .ss_item i{
	background-image: url(../../images/marketing/icon_view_d.png);
}
.LivePreview_head .ss_item.l_cur i{
	background-image: url(../../images/marketing/icon_view_c.png);
}
.LivePreview_head .al_item i{
	background-image: url(../../images/marketing/icon_case_d.png);
}
.LivePreview_head .al_item.l_cur i{
	background-image: url(../../images/marketing/icon_case_c.png);
}
.LivePreview_box{
	display: none;
	padding: 20px;
	box-sizing: border-box;
}
/*按钮居中*/
.btns_center{
	text-align: center;
	border-top: 1px solid #ddd;
	box-sizing: border-box;
	margin-top: 20px;
	padding: 20px 0;
}
/*2017-03-09修改*/
body{
	min-width: 1500px;
}
.base_pane_box .ipt_txt170{
	width: 170px;
}
.select170{
	width: 170px;
}
.select170 .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
}
.base_pane_box .datetime_170{
	width: 170px;
}
.LivePreview_box{
	height: 784px;
}
.card_set_cont .tab-content{
	height: 438px;
}


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	