html{width: 100%;}
body{width: 100%; height: auto;}
.top{min-width: 1280px;}
.content{min-width: 1280px;}
.right_c{padding: 0 20px; min-width: 1203px;}
.leftBox{min-width: 700px; min-height: 200px; border: 1px solid #eff0f2; border-radius: 5px; box-shadow: 0 2px 3px #ececec; overflow: hidden;}
.leftBox h4{height: 44px; background-color: #f5fbfc; padding: 0 20px;}
.leftBox h4 .titleL{height: 44px; line-height: 44px; font-size: 16px; color: #666;}
.leftBox h4 .titleL img{vertical-align: -5px; margin-right: 5px;}
.leftBox h4 .titleR{height: 44px; line-height: 44px; font-size: 14px; color: #63a8eb; cursor: pointer;}
.tip td{vertical-align: top; padding: 15px 0;}
.tip .explain{width: 40px; height: 20px; background-color: #fc7c56; font-size: 12px; color: #fff; line-height: 20px; text-align: center; margin-right: 10px; margin-left: 20px;}
.tip p{min-width: 200px; height: auto; line-height: 20px; font-size: 14px; color: #999; padding-right: 20px;}
.padBox{padding: 0 20px; height: auto;}
.sliderBox{height: auto; margin: 0 auto; border: 1px solid #f5f5f5; overflow: hidden; margin-bottom: 20px; position: relative;}
.sliderBox1{height: 446px;}
.sliderBox2{height: 396px;}
.sliderBox .mark1{position: absolute; width: 90px; height: 32px; background: url(../../images/newpage/mark1.png) no-repeat; top: 0; left: 0; z-index: 10;}
.sliderBox .mark2{position: absolute; width: 90px; height: 32px; background: url(../../images/newpage/mark2.png) no-repeat; top: 0; left: 0; z-index: 10;}
.sliderBox .mark3{position: absolute; width: 90px; height: 32px; background: url(../../images/newpage/mark3.png) no-repeat; top: 0; left: 0; z-index: 10;}
.sliderBox .inner{height: auto; position: absolute; left: 0; top: 0;}
.sliderBox .inner .sliders{float: left;}
.sliderBox .inner .pic{width:100%; height: 296px; }
.sliderBox .inner .pic img{width: 100%; height: 100%;}
.sliderBox .inner .txt{padding: 0 20px;}
.sliderBox .inner .farm{font-size: 18px; color: #666; line-height: 60px; height: 60px;}
.sliderBox .inner .farm span{font-size: 12px; color: #b2b2b2;}
.sliderBox .btns .leftBtn{position: absolute; width: 25px; height: 44px; background: url(../../images/newpage/left.png) 0 0 no-repeat; left: 1px; top: 123px; cursor: pointer;}
.sliderBox .btns .leftBtn:hover{background: url(../../images/newpage/left.png) 0 -57px no-repeat;}
.sliderBox .btns .rightBtn{position: absolute; width: 25px; height: 44px; background: url(../../images/newpage/right.png) -5px 0 no-repeat; right: 1px; top: 123px; cursor: pointer;}
.sliderBox .btns .rightBtn:hover{background: url(../../images/newpage/right.png) -5px -57px no-repeat;}
.datas{margin-bottom: 20px;}
.datas span{float: left; color: #bfbfbf; margin-right: 25px; height: }
.datas span img{vertical-align: -2px; margin-right: 5px;}
.datas .share{height: 16px; background: url(../../images/newpage/fx.png) 0 3px no-repeat; color: #bfbfbf; padding-left: 17px; cursor: pointer; position: relative;}
.datas .share .code{width: 132px; height: 158px; background: url(../../images/newpage/bigBg.png) no-repeat; position: absolute; top: -163px; left: -44px; display: none; text-align: center;}
.datas .share .code img{width: 115px; height: 115px; margin-top: 9px;}
.datas .share:hover .code{display: block;}
.redPacket{position: relative;}
.redPacket .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 145px;} 
.redPacket .redIcon{width: 12px; height: 14px; background: url(../../images/newpage/red.png) no-repeat; position: absolute; z-index: 10; top: 9px; left: 9px;}
.redPacket .bootstrap-select.btn-group .btn .filter-option{padding-left: 10px;}
.redPacket .bootstrap-select.btn-group .dropdown-menu{width: 145px;}
/*右边*/
.rightBox{min-width: 453px; border: 1px solid #eff0f2; border-radius: 5px; box-shadow: 0 2px 3px #ececec; overflow: hidden; margin-left: 10px;}
.rightBox h4{height: 44px; background-color: #f5fbfc; padding: 0 20px; line-height: 44px; font-size: 16px; color: #666; margin-bottom: 20px;}
.rightBox h4 img{vertical-align: -5px; margin-right: 5px;}
.activeBox{width: 100%; height: auto; border: 1px solid #ededed; border-radius: 5px; overflow: hidden; margin-bottom: 15px;}
.activeTitle{height: 40px; line-height: 40px; border-bottom: 1px solid #ededed; background: #fcfcfc; font-size: 14px; color: #4c4c4c; font-weight: bold; padding: 0 10px;}
.activeTitle span{font-weight: normal; color: #fff; padding: 0 2px; border-radius: 4px; margin-left: 8px;}
.activeTitle span.free{background-color: #90c666;}
.activeTitle span.charge{background-color: #6aade5;}
.activeTitle .arrow{width: 11px; height: 7px; background-image: url(../../images/newpage/arrow.png); background-position: 0 0; margin-top: 16px;}
.activeTitle .arrow.cur{background-position: 0 -20px;}
.activeBox .detail{height: auto; padding: 0 10px; display: none;}
.activeBox .detail li{border: 1px; border-bottom: 1px dashed #ededed; min-height: 40px; padding: 10px 0;}
.activeBox .detail li .itemL{color: #808080;}
.activeBox .detail li .itemL img{margin-right: 5px; vertical-align: -2px;}
.activeBox .detail li .itemR{color: #333333;}
.activeBox .detail li .pic{margin-top: 10px; text-align: center;}
.activeBox .detail li .pic img{width: 100%;}
.activeBox .detail li .signUp{height: 34px; line-height: 34px; text-align: center; font-size: 16px; color: #fff; font-weight: bold; background-color: #6aade5; border-radius: 5px; cursor: pointer;}
.activeBox .detail li .signUp.grey{background-color: #c8cbce;}
.mb10{margin-top: 10px;}
.mr10{margin-right: 10px;}
.copyRight{font-size: 16px; color: #8896a4; text-align: center; margin: 30px 0;}
.former{height: 34px; line-height: 34px; font-size: 14px; margin-right: 10px;}
/*弹窗*/
.memberPop{width: 400px; position: absolute; left: 50%; margin-left: -200px; top: 25%;}
.memberPop .modal-title{font-size: 14px; color: #333; font-weight: bold;}
.memberPop .close{color: #d8d6d8;}
.memberPop .modal-body{padding: 0 15px;}
.memberPop .modal-footer{text-align: center; border-top: 0;}
.memberPop .count{border: 1px solid #ededed;}
.memberPop .count td{height: 30px; text-align: center;}
.memberPop .count thead td{background-color: #f7f7f7; color: #808080;}
.memberPop .count tbody td{border-bottom: 1px solid #ededed;}
.nw130{width: 130px;}
[class^="icon-"], [class*=" icon-"]{background-image: url(../../images/bootstrap/glyphicons-halflings.png);}

/*2017.01.12修改样式*/
.sliderBox .btns .leftBtn,
.sliderBox .btns .rightBtn{top:50%;margin-top: -22px;}
.sliderBox .inner .phone{top:100%;margin-top: -277px;}
.zoom_in {
    transform: scale(0.48, 0.48);
    transform-origin: 0 0 0;
}
