html{width: 100%;}
body{width: 100%; height: auto;}
.top{width: 100%; min-width: 1280px;}
.content{width: 100%; min-width: 1280px;}
.right_c{width: 100%; min-width: 1203px; padding: 0 20px;}
.products{width: 100%; min-width: 1163px; height: 584px; border: 1px solid #eff0f2; border-radius: 5px; box-shadow: 0 2px 3px #ececec; overflow: hidden;}
.products h4{height: 44px; line-height: 44px; font-size: 16px; color: #666; padding-left: 50px; background: url(../../images/newpage/presell.png) 15px 12px no-repeat; background-color: #f5fbfc;}
.variety .public-search{float: left; position: relative;}
.variety .form-control{width: 210px;}
.variety .octicon-search02{left: inherit; right: 8px;}
.fruit{width:100%; height: 390px; overflow: hidden;}
.fruit .box {height: 390px; }
.fruit .box li{float: left; width: 20%; height: 390px;}
.fruit .box li .inner{width: 210px; height: 354px; border: 1px solid #e6f1f8; margin: 0 auto;}
.fruit .box li .inner:hover{box-shadow: 0 0 10px #ececec;}
.fruit .box li .inner .pic{height: 270px; border-bottom: 1px dashed #e1e1e1; text-align: center; position: relative;}
.fruit .box li .inner .pic img{width: 190px; height: 190px; margin-top: 10px;}
.fruit .box li .inner .pic .name{font-size: 16px; color: #333; font-weight: bold; height: 40px; line-height: 40px;}
.fruit .box li .inner .txt{padding-top: 10px;}
.fruit .box li .inner .txt li{height: 30px; line-height: 30px; color: #999; padding: 0 10px; width: 100%;}
.green{color: #90b901;}
.blue{color: #46afeb;}
.pic .mask{position: absolute; left: 10px; top: 10px; width: 190px; height: 190px; background: url(../../images/newpage/trend.png) no-repeat; display: none;}
.pic .mask .trend{position: absolute; width: 40px; height: 40px; left: 35px; top: 60px; cursor: pointer;}
.pic .mask .supply{position: absolute; width: 40px; height: 40px; left: 115px; top: 60px;}
.pic .mask .supply a{display: block; width: 40px; height: 40px;}
.fruit .box li .inner:hover .mask{display: block;}
/*数据统计*/
.datas{width: 100%; min-width: 1163px; height: 500px; border: 1px solid #eff0f2; border-radius: 5px; box-shadow: 0 2px 3px #ececec; margin-top: 15px;}
.datas h4{height: 44px; line-height: 44px; font-size: 16px; color: #666; padding-left: 50px; background: url(../../images/newpage/presell.png) 15px -23px no-repeat; background-color: #f5fbfc;}
.dataBox{width: 100%; height: 290px;}
.dataBox li{float: left; width: 25%;}
.dataBox li .inner{width: 287px; height: 292px; background: url(../../images/newpage/dataBg.png) no-repeat; margin: 0 auto; text-align: center;}
.dataBox li .inner img{width: 120px; height: 120px; margin-top: 45px;}
.dataBox li .inner .detail{font-size: 14px; height: 30px; line-height: 30px; margin: 20px 0 10px; color: #999;}
.dataBox li .inner .num{font-size: 16px;}
.dataBox li .inner .num1{color: #73cac5;}
.dataBox li .inner .num2{color: #db8bef;}
.dataBox li .inner .num3{color: #ec8585;}
.dataBox li .inner .num1 span{font-size: 26px;}
.dataBox li .inner .stars img{width: 20px; height: 20px; margin-top: 0;}
.datas .veiw{text-align: center; margin-top: -10px;}
/*数据分析*/
.analyse{display: none; width: 100%; min-width: 1163px; height: auto; border: 1px solid #eff0f2; border-radius: 5px; box-shadow: 0 2px 3px #ececec; margin-top: 15px;}
.analyse h4{height: 44px; line-height: 44px; font-size: 16px; color: #666; padding-left: 50px; background: url(../../images/newpage/presell.png) 15px -58px no-repeat; background-color: #f5fbfc;}
.analyse .ways{font-size: 14px; margin-right: 20px; color: #666; cursor: pointer;}
.analyse .ways font{color: #63a8eb;}
.analyse .box{padding: 0 15px;}
.analyse .box .tip{height: 80px; line-height: 80px; font-size: 14px; color: #8a959f; border-bottom: 1px solid #e8eef5;}
.analyse .box .inner{border-bottom: 1px solid #e8eef5; padding: 10px 0;}
.analyse .box .inner h6{position: relative; font-size: 16px; color: #545454; font-weight: bold; height: 40px; line-height: 40px; padding-left: 60px;}
.analyse .box .inner h6 i{position: absolute; width: 16px; height: 16px; background: url(../../images/newpage/warn.png); top: 12px; margin-left: 5px;}
.analyse .box .inner p{font-size: 14px; color: #999; padding-left: 75px; height: 34px; line-height: 34px; background: url(../../images/newpage/square.png) 60px 15px no-repeat;}
.analyse .box .inner h6.pre1{background: url(../../images/newpage/presell.png) 20px -93px no-repeat;}
.analyse .box .inner h6.pre2{background: url(../../images/newpage/presell.png) 20px -125px no-repeat;}
.analyse .box .inner h6.pre3{background: url(../../images/newpage/presell.png) 20px -165px no-repeat;}
.analyse .box .inner h6.pre4{background: url(../../images/newpage/presell.png) 20px -195px no-repeat;}
.analyse .box .inner h6.pre5{background: url(../../images/newpage/presell.png) 20px -235px no-repeat;}
.analyse .box .inner h6.pre6{background: url(../../images/newpage/presell.png) 20px -275px no-repeat;}
.analyse .box .inner h6.pre7{background: url(../../images/newpage/presell.png) 20px -320px no-repeat;}
.analyse .box .inner h6.pre8{background: url(../../images/newpage/presell.png) 20px -360px no-repeat;}
.analyse .box .inner h6 span.perfect{width: 120px; height: 30px; border: 1px solid #e1e1e1; border-radius: 4px; text-align: center; line-height: 30px; float: right; font-size: 14px; color: #666; font-weight: normal; cursor: pointer; margin-top: 10px;} 
.analyse .box .inner h6 span.perfect a{display: inline-block; width: 120px; height: 30px; color: #666;}
.copyRight{font-size: 16px; color: #8896a4; text-align: center; margin: 30px 0;}
.wayPop,.tipPop{width: 440px; height: 320px;  position: absolute; left: 50%; margin-left: -220px; top: 20%;}
.wayPop .modal-body{padding-bottom: 30px; padding-left: 50px;}
.wayPop .modal-body p{color: #808080; line-height: 20px;}
.tipPop .modal-body{text-align: center; padding-bottom: 45px; padding-top: 40px;}
.tipPop .modal-body p{font-size: 14px; color: #333; line-height: 24px; margin-top: 20px;}
/*趋势弹窗*/
.trendPop{width: 790px; position: absolute; left: 50%; margin-left: -395px; top: 20%;}
.trendPop .modal-body{padding: 0 30px 30px 0;}
.trendPop .modal-body .date{margin: 20px 0 0; width: 107px; height: 30px; border: 1px solid #63a8eb; border-radius: 4px; overflow: hidden;}
.trendPop .modal-body .date li{width: 35px; height: 30px; line-height: 30px; float: left; color: #63a8eb; text-align: center; border-right: 1px solid #63a8eb; cursor: pointer;}
.trendPop .modal-body .date li.cur{background: #63a8eb; color: #fff;}
.chartBox{width: 790px; height: 345px;}
