html{width: 100%;}
body{width: 100%; height: auto;}
.top{min-width: 1280px;}
.content{min-width: 1280px;}
.right_c{padding: 0 20px; min-width: 1203px;}
.rollBox{min-width: 820px; height: auto; border: 1px solid #eff0f2; border-radius: 5px; box-shadow: 0 2px 3px #ececec; overflow: hidden; margin-bottom: 15px;}
.rollBox h4{font-size: 16px; color: #666; background-color: #f5fbfc; width: 100%; height: 46px; line-height: 46px; padding-left: 54px;}
.rollBox h4.roll1{background-image: url(../../images/newpage/roll.png); background-position:  20px 12px; background-repeat: no-repeat;}
.rollBox h4.roll2{background-image: url(../../images/newpage/roll.png); background-position:  20px -28px; background-repeat: no-repeat;}
.rollBox h4.roll3{background-image: url(../../images/newpage/roll.png); background-position:  20px -68px; background-repeat: no-repeat;}
.rollBox h4.roll4{background-image: url(../../images/newpage/roll.png); background-position:  20px -108px; background-repeat: no-repeat;}
.rollBox h4.roll5{background-image: url(../../images/newpage/roll.png); background-position:  20px -148px; background-repeat: no-repeat;}
.rollBox .inner{width: 100%; height: 440px; overflow: hidden; position: relative;}
.rollBox .inner .btns{padding: 10px 0; float: right; margin-right: 20px;}
.inner .btns li{float: left; cursor: pointer;}
.inner .btns .leftBtn{width: 20px; height: 20px; background: url(../../images/newpage/left1.png) no-repeat; margin-right: 10px;}
.inner .btns .leftBtn:hover{background: url(../../images/newpage/left2.png) no-repeat;}
.inner .btns .rightBtn{width: 20px; height: 20px; background: url(../../images/newpage/right1.png) no-repeat;}
.inner .btns .rightBtn:hover{background: url(../../images/newpage/right2.png) no-repeat;}
.inner .imageList{position: absolute; left: 0; top: 40px;}
.inner .imageList li{height: 400px; float: left; }
.inner .imageList li .pic{width: 244px; height: 354px; border: 1px solid #ededed; margin: 0 auto; padding: 5px;}
.inner .imageList li .pic img{width: 232px; height: 342px;}
.rollName{width: 244px; height: 44px; line-height: 44px; font-size: 14px; margin: 0 auto; text-align: center; color: #323232;}
.rollBox2 .inner{height: 290px;}
.rollBox2 .inner .imageList li{height: 250px;}
.rollBox2 .inner .imageList li .pic{height: 204px;}
.rollBox2 .inner .imageList li .pic img{height: 192px;}
/*右边*/
.rightBox{min-width: 323px; min-height: 200px; border: 1px solid #eff0f2; border-radius: 5px; box-shadow: 0 2px 3px #ececec; margin-left: 10px; padding: 0 15px;}
.rightBox .keeper{width: 100%; height: 200px; border-bottom: 1px dashed #ededed;}
.rightBox .headPic{text-align: center; padding: 25px 0 20px;}
.rightBox .headPic img{width: 105px; height: 105px; border-radius: 50%; border: 1px solid #dddddd; box-shadow: 0 0 10px #ececec;}
.rightBox .keeper .name{font-size: 18px; font-weight: bold; color: #4c4c4c; height: 55px; text-align: center;}
.rightBox .keeper .name span{display: inline-block; font-size: 12px; color: #fff; padding: 1px 2px; background: #54ccd1; border-radius: 2px; font-weight: normal; margin-left: 10px;}
.rightBox .request{width: 100%; height: auto}
.rightBox .request .myTitle{font-size: 14px; color: #63a8eb; padding: 20px 0;}
.rightBox .request .myTitle span{width: 4px; height: 16px; background-color: #63a8eb; display: inline-block; vertical-align: -3px;}
.rightBox .request .noBox{width: 100%; height: 215px; border: 1px dashed #e1e1e1; border-radius: 5px; margin-bottom: 20px; text-align: center;}
.rightBox .request .noBox img{margin: 65px 0 10px;}
.rightBox .request .hasBox{width: 100%; height: 250px; overflow: hidden;}
.hasBox td{height: 60px; vertical-align: top;}
.hasBox .time{text-align: right; min-width: 120px;}
.hasBox .center{text-align: center; width: 40px; position: relative;}
.hasBox .center img{width: 12px; height: 12px; position: absolute; top: 3px; left: 50%; margin-left: -6px; z-index: 5;}
.hasBox .center span{width: 1px; height: 58px; background-color: #e0e0e0; position: absolute; left: 50%; top: 5px; margin-left: -1px;}
.hasBox .goods{text-align: left; min-width: 120px; font-size: 14px; color: #333;}
.hasBox .goods .blue,.hasBox .goods .green{display: inline-block; padding: 1px 2px; background-color: #63a8eb; font-size: 12px; color: #fff; border-radius: 3px; margin-left: 10px;}
.hasBox .goods .green{background-color: #5cb85c;}
.copyRight{font-size: 16px; color: #8896a4; text-align: center; margin: 30px 0;}
/*弹窗*/
.rollPop{position: absolute; width: 712px; left: 50%; margin-left: -356px; top: 20%;}
.rollPop .modal-title{font-size: 14px; color: #333; font-weight: bold;}
.rollPop .modal-footer{text-align: center; border-top: 0;}
.rollPop .close{color: #d8d6d8;}
.popLeft{width: 266px; height: 228px; padding: 5px; border: 1px solid #ededed;}
.popLeft img{width: 100%; height: 100%;}
.popRight{width: 370px;}
.popRight .tips{padding-left: 90px;}
.popRight .tips img{width: 12px; height: 12px; margin-right: 8px; margin-top: 3px;}
.popRight .tips span{width: 250px; color: #999;}
.popRight .item{margin: 10px 0;}
.popRight .item span{width: 90px; padding-right: 10px; text-align: right; line-height: 34px; }
.popRight .item input,.popRight .item textarea{width: 270px;}