@charset "utf-8";
/* CSS Document */

html{
	height:100%;
	background:none;
	background-color:#000;
	}
body{
	position:relative;
	min-width:1000px;
	height:100%;
	min-height:500px;
	}
.aerialvideo_body{
	}
/*航拍视频头部*/
.video_header_wap{
	position:absolute-;
	left:0-;
	top:0-;
	z-index:1000-;
	position:relative;
	padding-left:68px;
	padding-right:56px;
	width:100%;
	height:46px;
	background:url(../../images/commons/opacity_b50.png)-;
	background:#3c3f44;
	}
.video_header_wap .close_btn{
	position:absolute;
	right:0;
	top:0;
	width:16px;
	height:16px;
	padding:15px 20px;
	box-sizing:content-box;
	cursor:pointer;
	}
.video_header_wap .close_btn img{
	width:16px;
	height:16px;
	vertical-align:top;
	}
.video_header_list .item1,
.video_header_list .item2{
	float:left;
	height:46px;
	line-height:46px;
	border-right:1px solid #292828;
	box-sizing:border-box;
	text-align:center;
	}
.video_header_list .item1{
	padding:0 20px;
	}
.video_header_list .item2{
	padding:11px 0px;
	}
.video_header_list .onoff{
	width:28px;
	height:28px;
	cursor:pointer;
	}
.video_header_list .qy_logo{
	width:132px;
	height:38px;
	vertical-align:top;
	margin-top:4px;
	}
.video_header_list .jd_cor{
	display:inline-block;
	width:70px;
	color:#6cceff;
	}
.video_header_list .wd_cor{
	display:inline-block;
	width:70px;
	color:#7cff62;
	}
.video_header_list .gd_cor{
	display:inline-block;
	width:46px;
	color:#faed53;
	}
.video_header_list .p_text{
	display:inline-block;
	max-width:112px;
	height:24px;
	line-height:24px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	word-break:break-all;
	overflow:hidden;
	vertical-align:top;
	}
.video_header_list .p_text img{
	vertical-align:top;
	margin-right:5px;
	}
.video_header_list .p_text .sm_icon{
	width:24px;
	height:24px;
	margin-right:0;
	}
.video_header_list .p_text .km_icon{
	width:38px;
	height:20px;
	margin-top:2px;
	}
.video_header_list .p_text .mp_icon{
	width:28px;
	height:20px;
	margin-top:2px;
	}
.video_header_list .p_text .cj_icon{
	width:22px;
	height:20px;
	margin-top:2px;
	}
.video_header_list .mp_text,
.video_header_list .cj_text{
	cursor:pointer;
	}
.video_header_list1{
	position:absolute;
	left:0;
	top:0;
	}
.video_header_list2{}
/*播放列表*/
.aerial_playlist{
	position:absolute;
	left:0;
	top:46px;
	bottom:52px;
	z-index:1000;
	width:210px;
	min-height:402px;
	padding:15px;
	box-sizing:border-box;
	background-color:#282828;
	overflow:hidden;
	}
.playlist_list .item{
	position:relative;
	width:180px;
	height:94px;
	margin-bottom:15px;
	box-sizing:border-box;
	cursor:pointer;	
	}
.playlist_list .item .mn_pic{
	width:100%;
	height:100%;
	background-color:#eee;
	}
.playlist_list .text_con{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:22px;
	line-height:22px;
	padding: 0 10px;
	box-sizing:border-box;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	}
.playlist_list .text_con .icon_mn{
	display:none;
	width:10px;
	height:12px;
	margin:5px 5px 0 0;
	vertical-align:top;
	}
.playlist_list .bg_opa50{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	line-height:94px;
	background:url(../../images/commons/opacity_b50.png);
	text-align:center;
	}
.playlist_list .bg_opa50 img{
	width:40px;
	height:40px;
	margin-top:27px;
	}
.playlist_list .item.icur{
	border:1px solid #83d542;
	}
.playlist_list .item.icur .text_con{
	background:url(../../images/commons/opacity_b50.png);
	}
.playlist_list .item.icur .text_con .icon_mn{
	display:inline-block;
	}
.playlist_list .item.icur .bg_opa50{
	display:none;
	}
/*视频主体*/
#AerialPlayer{
	position:relative;
	}
#AerialPlayer .mark{
	position:absolute;
	left:0;
	top:0;
	z-index:5;
	width:100%;
	height:100%;
	background:url(../../images/commons/opacity_b50.png);
	opacity:0.5;
	}
#AerialPlayer .mark i{
	width: 30px;
	height: 30px;
	background: url(../../images/commons/loading.gif) no-repeat center center;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	top: 50%;
	margin-top: -15px;
	z-index: 6;
	border-radius: 5px;
	}
.video-js{
	width:100%;
	height:100%;
	}
.video_main_wap{
	position:relative;
	min-width:1000px;
	min-height:454px-;
	min-height:402px;
	overflow:hidden;
	}
#HLSPlayer2,
#HLSPlayer2 .video{
	height:100%;
	}
.aerial_map{
	position:absolute;
	left:20px;
	bottom:50px;
	z-index:6;
	width:390px;
	height:210px;
	padding:1px;
	border:1px solid #666;
	border-radius:10px;
	box-sizing:border-box;
	background-color:#fff;
	overflow:hidden;
	}
.smallbtn_map{
	position:absolute;
	right:10px;
	top:10px;
	z-index:2;
	width:36px;
	height:36px;
	cursor:pointer;
	}
.smallbtn_map img,
.bigbtn_map img{
	width:100%;
	height:100%;
	}
.bigbtn_map{
	display:none;
	position:absolute;
	left:20px;
	bottom:50px;
	z-index:6;
	width:50px;
	height:50px;
	cursor:pointer;
	}
/*航拍视频底部*/	
.video_footer_wap{
	position:absolute;
	left:0;
	bottom:0;
	z-index:1000;
	width:100%;
	height:52px;
	padding:10px 15px;
	box-sizing:border-box;
	background-color:#1b1b1b;
	font-size:14px;
	color:#eeeeee;
	}
.barrage_block{
	float:left;
	}
.barrage_block .s_text{
	float:left;
	height:32px;
	line-height:32px;
	padding-right:10px;
	}
.barrage_block .switch_block{
	margin-top:9px;
	margin-right:15px;
	}
.switch_block{
	position:relative;
	width:44px;
	height:16px;
	}
.switch_block .tanmu_bar{
	width:44px;
	height:16px;
	border-radius:8px;
	background:url(../../images/map/onoff_bg.png) no-repeat;
	cursor:pointer;
	}
.switch_block span{
	position:absolute;
	right:0;
	top:-4px;
	width:23px;
	height:23px;
	background:url(../../images/map/onoff_btn.png) no-repeat;
	transition: 0.5s;
	-moz-transition: left 0.5s;	
	-webkit-transition: left 0.5s;	
	-o-transition: left 0.5s;
	}
.switch_block span.onoff{
	right:inherit;
	left:0;
	}
.barrage_set_block{
	position:relative;
	}
.barrage_set{
	height:32px;
	line-height:32px;
	border:0;
	border-radius:4px;
	padding:0 10px;
	background-color:#5e5e5e;
	}
.barrage_set:hover{
	background-color:#545454;
	}
.tanmu_send_block{
	position:relative;
	float:left;
	margin-left:15px;
	height:32px;
	}
.tanmu_send_block .text_ipt{
	float:left;
	width:440px;
	height:32px;
	line-height:32px;
	padding:0 34px 0 15px;
	box-sizing:border-box;
	border-radius:4px 0 0 4px;
	background-color:#5e5e5e;
	vertical-align:top;
	}
.tanmu_send_block .btn_send{
	float:left;
	width:58px;
	height:32px;
	line-height:32px;
	padding:0;
	border:0;
	border-radius:0 4px 4px 0;
	background-color:#009deb;
	text-align:center;
	vertical-align:top;
	}
.tanmu_send_block .btn_send:hover{
	background-color:#008dd3;
	}
.tanmu_send_block .btn_face{
	position:absolute;
	right:64px;
	top:5px;
	width:22px;
	height:22px;
	background:url(../../images/map/icon_face.png) no-repeat;
	cursor:pointer;
	}
.opt_text,
.share_text{
	float:left;
	height:32px;
	line-height:32px;
	margin-left:20px;
	cursor:pointer;
	}
.opt_text img,
.share_text img{
	width:18px;
	height:18px;
	margin:7px 5px 0 0;
	vertical-align:top;
	}

/*弹幕及弹幕设置框样式*/
#danmuarea{
    position:absolute;
	left:0;
	top:0;
	z-index:0;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	background-color:#222;
	}
#danmu{
	min-width:100%;
	min-height:100%;
	}
pre {
      line-height: 2em;
      font-family: "Microsoft YaHei" ! important;
    }
.center {
  text-align: center;
	}
.ctr {
  font-size: 1em;
  line-height: 2em;
	}

.barrage_setmodal{
	position:absolute;
	left:-30px;
	bottom:50px;
	width:520px;
	height:210px;
	border:1px solid #343434;
	box-sizing:border-box;
	background-color:#1d1d1d;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	}
.barrage_setmodal:before{
	position:absolute;
	left:50px;
	bottom:-16px;
	z-index:1;
	border-width:8px 8px 8px 8px;
	border-style:solid solid solid solid;
	border-color:#1d1d1d transparent transparent transparent;
	content:"";
	}
.barrage_setmodal:after{
	position:absolute;
	left:50px;
	bottom:-17px;
	z-index:0;
	border-width:8px 8px 8px 8px;
	border-style:solid solid solid solid;
	border-color:#343434 transparent transparent transparent;
	content:"";
	}
.barrage_setmodal .barrage_lt{
	float:left;
	width:330px;
	height:208px;
	padding-top:10px;
	padding-left:20px;
	box-sizing:border-box;
	background:url(../../images/map/barrage_line1.jpg) no-repeat right center;
	overflow:hidden;
	}
.barrage_setmodal .text_h3{
	display:block;
	height:26px;
	line-height:26px;
	font-size:16px;
	}
.barrage_setmodal .text_h3 span{
	padding-left:10px;
	font-size:14px;
	color:#bec2c2;
	}
.barrage_setmodal .text_h4{
	height:22px;
	line-height:22px;
	margin:10px 0;
	font-size:14px;
	}
.font_block{
	float:left;
	width:30px;
	margin-right:26px;
	text-align:center;
	}
.font_block span{
	display:block;
	height:30px;
	line-height:30px;
	margin-bottom:10px;
	color:#bec2c2;
	cursor:pointer;
	}
.font_block .f_big{
	font-size:20px;
	}
.font_block .f_medium{
	font-size:18px;
	}
.font_block .f_small{
	font-size:14px;
	}
.font_block span:hover{
	color:#fff;
	}
.font_block .f_cur,
.font_block .f_cur:hover{
	color:#7ab500;
	}
.color_block{
	float:left;
	width:120px;
	margin-right:26px;
	}
.color_block .ipt_link{
	width:60px;
	height:22px;
	line-height:20px;
	margin:10px 0;
	padding:0;
	border:1px solid #ddd;
	box-sizing:border-box;
	background:#c1c1c1;
	color:#333;
	}
.color_block .xs_cor{
	float:left;
	width:22px;
	height:22px;
	margin:10px 2px 10px 3px;
	background-color:#ffffff;
	}
.color_list{
	margin-top:10px;
	overflow:hidden;
	}
.color_list span{
	float:left;
	width:22px;
	height:22px;
	box-sizing:border-box;
	margin-right:2px;
	margin-bottom:2px;
	background-color:#fff;
	}
.color_list .bgcor1{
	background-color:#fcf400;
	}
.color_list .bgcor2{
	background-color:#f50900;
	}
.color_list .bgcor3{
	background-color:#ffffff;
	}
.color_list .bgcor4{
	background-color:#000000;
	}
.color_list .bgcor5{
	background-color:#f79b00;
	}
.color_list .bgcor6{
	background-color:#4aff00;
	}
.color_list .bgcor7{
	background-color:#53fcff;
	}
.color_list .bgcor8{
	background-color:#3488f7;
	}
.color_list .bgcor9{
	background-color:#8b00ff;
	}
.color_list .bgcor10{
	background-color:#f66600;
	}
.color_list .bgcor11{
	background-color:#f60498;
	}
.color_list .bgcor12{
	background-color:#900086;
	}
.color_list .bgcor13{
	background-color:#61058b;
	}
.color_list .bgcor14{
	background-color:#2913ab;
	}
.color_list .bgcor15{
	background-color:#7d4f11;
	}
.color_list .bgcor16{
	background-color:#9b6b31;
	}
.color_list .bgcor17{
	background-color:#db8c22;
	}
.color_list .bgcor18{
	background-color:#90c700;
	}
.color_list .bgcor19{
	background-color:#30ae1b;
	}
.color_list .bgcor20{
	background-color:#279329;
	}
.color_list span:hover ,
.color_list span.dq_cor{
	border:1px solid #c4c4c5;
	cursor:pointer;
	}
.site_block{
	float:left;
	width:90px;
	}
.site_list{
	padding-top:10px;
	overflow:hidden;
	}
.site_list p{
	float:left;
	width:30px;
	line-height:20px;
	margin:0 15px 15px 0;
	padding-top:20px;
	background-image:url(../../images/map/icon_site.png);
	background-repeat:no-repeat;
	color:#bec2c2;
	cursor:pointer;
	}
.site_list .bgsit1{
	background-position: 0 0;
	}
.site_list .bgsit2{
	background-position: 0 -44px;
	}
.site_list .bgsit3{
	background-position: 0 -88px;
	}
.site_list .bgsit4{
	background-position: 0 -132px;
	}
.site_list p:hover{
	color:#fff;
	}
.site_list .dq_bg,
.site_list .dq_bg:hover{
	color:#7ab500;
	}
.site_list .bgsit1.dq_bg{
	background-position: -34px 0;
	}
.site_list .bgsit2.dq_bg{
	background-position: -34px -44px;
	}
.site_list .bgsit3.dq_bg{
	background-position: -34px -88px;
	}
.site_list .bgsit4.dq_bg{
	background-position: -34px -132px;
	}
.barrage_setmodal .barrage_rt{
	float:left;
	width:180px;
	height:208px;
	padding-top:10px;
	padding-left:20px;
	box-sizing:border-box;
	}
.barrage_setmodal .barrage_rt .bg_line{
	display:block;
	height:14px;
	margin-top:10px;
	background:url(../../images/map/barrage_line2.jpg) no-repeat left center;
	}
.alpha_block input[type="range"]{
	width:100px;
	}
.alpha_block .s_num{
	color:#bec2c2;
	}
.tanmu_block dd{
	line-height:18px;
	color:#bec2c2;
	}
.tanmu_block .icheckbox_minimal{
	float:left;
	margin-right:10px;
	background-image:url(../../images/bootstrap/blue.png);
	}
/*弹幕及弹幕设置框样式*/	

/*Loading*/
.mengb {
	position: absolute;
	left: 0px;
	top: 0px;
	background: #000000;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	filter: alpha(opacity=30);
	z-index: 1;
}
#map_loading {
	width: 30px;
	height: 30px;
	background: url(../../images/commons/loading.gif) #0F1111 no-repeat center center;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	top: 50%;
	margin-top: -15px;
	z-index: 3;
	border-radius: 5px;
}
	
/*模态框*/
body.modal-open{
	min-height:inherit;
	}
.modal-backdrop.fade{
	background-color:#fff;
	opacity:0.5;
	filter:alpha(opacity=50);
	opacity:1-;
	filter:alpha(opacity=100)-;
	}
.modal-header .modal-title{
	height:20px;
	line-height:20px;
	font-size:14px;
	font-weight:bold;
	}
.modal-header .i_close{
	float:right;
	width:11px;
	height:11px;
	margin-top:5px;
	background:url(../../images/commons/farmingIco16.jpg);
	cursor:pointer;
	}
.modal-header .i_close:hover{
	background:url(../../images/commons/farmingIco17.jpg);
	}
.modal_body{
	height:602px-;
	padding:5px 20px 20px;
	box-sizing:border-box;
	overflow-y:auto;
	}
.pano_dialog{
	position:fixed;
	left:50%;
	top:50%;
	}
.pano_dialog.pano_top{
	position:relative;
	left:inherit;
	top:inherit;
	margin:30px auto;
	}
/*企业名片模态框*/
.card_dialog{
	width:560px;
	margin-left:-280px;
	margin-top:-186px;
	color:#fff;
	}
.card_dialog .modal-content{
	background:url(../../images/commons/opacity_b80.png);
	}
.card_dialog .modal-header{
	border-bottom-color:#67686a;
	}
.card_dialog .modal-header img{
	vertical-align:top;
	margin:2px 10px 0 0;
	}
.card_dialog .i_close{
	width:13px;
	height:13px;
	margin-top:4px;
	background:url(../../images/map/icon_closeL.png);
	cursor:pointer;
	}
.card_dialog .i_close:hover{
	background:url(../../images/map/icon_closeH.png);
	}
.card_dialog .modal_body{
	height:310px;
	margin-bottom:10px;
	padding:20px 20px 0;
	box-sizing:border-box;
	}
.card_dialog .modal-footer{
	text-align:center;
	}
.card_dialog .card_dl{
	overflow:hidden;
	}
.card_dialog .card_dt{
	float:left;
	width:160px;
	}
.card_dialog .card_dt img{
	width:140px;
	height:140px;
	border-radius:6px;
	}
.card_dialog .card_dd .text_name{
	margin-top:5px;
	font-size:15px;
	}
.card_dialog .card_dd p{
	height:20px;
	line-height:20px;
	margin-top:8px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	}
.card_dialog .card_dd p img{
	vertical-align:top;
	width:16px;
	height:16px;
	margin:2px 10px 0 0;
	}
.card_dialog .card_dd .color_y{
	color:#ffae00;
	}
.card_dialog .title_intro{
	display:block;
	margin:10px 0 0;
	padding:10px 0;
	font-size:15px;
	font-weight:normal;
	}
.card_dialog .text_intro{
	line-height:24px;
	text-indent:24px;
	}
/*场景介绍模态框*/	
.scene_dialog{
	width:660px;
	margin-left:-330px;
	margin-top:-205px;
	}
.scene_dialog .modal-content{
	background:url(../../images/commons/opacity_b80.png);
	}
.scene_dialog .i_close{
	position:absolute;
	right:20px;
	top:15px;
	width:13px;
	height:13px;
	background:url(../../images/map/icon_closeL.png);
	cursor:pointer;
	}
.scene_dialog .i_close:hover{
	background:url(../../images/map/icon_closeH.png);
	}
.scene_dialog .modal_body{
	height:388px;
	margin-top:28px;
	margin-bottom:10px;
	padding:0px 15px 0 15px;
	box-sizing:border-box;
	font-size:14px;
	color:#fff;
	}
.scene_dialog .title_company{
	display:block;
	width:80%;
	margin:5px auto 15px;
	height:30px;
	line-height:30px;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	}
.scene_dialog .pic_company{
	float:left;
	width:180px;
	height:180px;
	margin-right:15px;
	}
.scene_dialog .text_company{
	line-height:24px;
	margin-bottom:10px;
	text-indent:28px;
	}
/*分享模态框*/	
.share_dialog{
	width:480px;
	margin-left:-240px;
	margin-top:-205px;
	}
.share_dialog .modal-content{
	background:url(../../images/commons/opacity_b80.png);
	}
.share_dialog .i_close{
	position:absolute;
	right:20px;
	top:15px;
	width:13px;
	height:13px;
	background:url(../../images/map/icon_closeL.png);
	cursor:pointer;
	}
.share_dialog .i_close:hover{
	background:url(../../images/map/icon_closeH.png);
	}
.share_dialog .modal_body{
	height:388px;
	margin-top:28px;
	padding:0px 15px 15px 15px;
	box-sizing:border-box;
	font-size:14px;
	color:#fff;
	}
.share_dialog .text_company{
	display:block;
	width:80%;
	height:30px;
	margin:0 auto 0;
	line-height:30px;
	text-align:center;
	font-size:17px;
	color:#009dec;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	}
.share_dialog .text_tip{
	height:20px;
	line-height:20px;
	margin:10px 0 20px;
	font-size:15px;
	text-align:center;
	}
.share_dialog .code_pic{
	display:block;
	width:180px;
	height:180px;
	margin:0 auto 20px;
	border:10px solid #fff;
	box-sizing:border-box;
	}
.share_dialog .ipt_link{
	display:block;
	width:360px;
	height:30px;
	line-height:28px;
	margin:0 auto 20px;
	padding:0 10px;
	border:1px solid #b6b7b8;
	border-radius:4px;
	background:none;
	}
.share_dialog .btn_copy{
	display:block;
	width:102px;
	height:30px;
	line-height:28px;
	margin:0 auto 20px;
	padding:0 15px;
	border:1px solid #b6b7b8;
	border-radius:4px;
	background:none;
	font-size:12px;
	}
.share_dialog .btn_copy img{
	float:left;
	vertical-align:top;
	margin:7px 5px 0 0;
	font-size:12px;
	}
.share_dialog .btn_copy:hover{
	border-color:#009dec;
	background-color:#009dec;
	}
	
		
@media only screen and (max-width: 1280px) {
.video_header_wap{
	padding-left:41px;
	padding-right:42px;
	}
.video_header_wap .close_btn{
	width:12px;
	height:12px;
	padding:19px 15px;
	}
.video_header_wap .close_btn img{
	width: 12px;
	height: 12px;
}
.video_header_list .qy_logo{
	width:96px;
	height:28px;
	margin-top:9px;
	}
.video_header_list .jd_cor{
	width:66px;
	}
.video_header_list .wd_cor{
	width:66px;
	}
.video_header_list .item1{
	padding: 0 8px;
	}
.video_header_list .p_text{
	font-size:13px;
	}
.video_header_list .p_text .sm_icon{
	width:20px;
	height:20px;
	margin-top:2px;
	}
.video_header_list .p_text .km_icon{
	width:34px;
	height:18px;
	margin-top:3px;
	}
.video_header_list .p_text .mp_icon{
	width:24px;
	height:18px;
	margin-top:3px;
	}
.video_header_list .p_text .cj_icon{
	width:18px;
	height:16px;
	margin-top:3px;
	}
.video_header_list .onoff{
	width:24px;
	height:24px;
	}

}	
	
	
	
	
	
	
	
	
	
	