@charset "utf-8";
/* CSS Document */
/* 基础默认样式去重 */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,div,p,strong,em,i,b,font,a,span{ 
	margin: 0;
	padding: 0;
}
body{ 
	min-width:1000px; 
	font-family:'微软雅黑'; 
	background:none; 
	font-size:12px; 
	color:#525252;
}
a:hover,a:active,a:visited,a:focus{ 
	text-decoration:none;
}
a:focus{ 
	outline:none none; 
	outline-offset:inherit;
	color:inherit;
}
ul,ol,li{ 
	list-style:none;
}
img{ 
	border:0;
}
button{ 
	outline:none;
}
.fl{ 
	float:left;
}
.fr{ 
	float:right;
}
.clear{ 
	clear:both;
}
.clear:after,.clear:before{ 
	clear:both; 
	content:""; 
	display:block; 
	visibility:hidden; 
	height:0;
}
.star_red{ 
	line-height:34px; 
	padding:0 5px; 
	color:red; 
	font-family:'宋体';
}
.star_red i{ 
	padding-right:5px; 
	font-family:'微软雅黑'; 
	font-style:normal; 
	color:#525252;
}
.inline_block{ 
	display:inline-block;
}
.opacity_b30{ 
	background:#000; 
	opacity:0.3; 
	filter:alpha(opacity=30);
}
.opacity_b50{ 
	background:#000; 
	opacity:0.5; 
	filter:alpha(opacity=50);
}
.opacity_w30{ 
	background:#fff; 
	opacity:0.3; 
	filter:alpha(opacity=30);
}
.opacity_w50{ 
	background:#fff; 
	opacity:0.5; 
	filter:alpha(opacity=50);
}
a,a:hover,a:active,a:visited,a:focus{ 
	text-decoration:none;
}
a:focus{ 
	outline:none none; 
	outline-offset:inherit; 
	color:inherit;
}
.mr5{ 
	margin-right:5px;
}
.mr20{ 
	margin-right: 20px; 
}
.mt10{
	margin-top: 10px;
}
.mt15{ 
	margin-top:15px;
}
.mt20{ 
	margin-top:20px;
}
.mt30{ 
	margin-top:30px;
}
.mt40{ 
	margin-top:40px;
}
.mb15{ 
	margin-bottom:15px;
}
.mb20{ 
	margin-bottom:20px;
}
.mb30{ 
	margin-bottom:30px;
}
.ml10{ 
	margin-left:10px;
}
.ml20{ 
	margin-left:20px;
}
.pt15{ 
	padding-top:15px;
}
.pb15{ 
	padding-bottom:15px;
}
.pb20{ 
	padding-bottom:20px;
}
.pr10{ 
	padding-right:10px;
}
.btn { 
	height:34px; 
	line-height:20px; 
	padding:6px 16px; 
	box-sizing:border-box; 
	border-radius: 5px; 
	font-family:'微软雅黑';
}
.btn[disabled]{
	color: #999999;
	background-color: #f1f1f1;
}


/*四季田景后台编辑*/
html,body{
	height: 100%;
	min-height: 600px;
}
.pano_edit_wrap{
	width: 100%;
	height: 100%;
	background: url(../../images/map/panorama_edit_pic1.jpg);
	background-size: cover;
}
.fixed_btns_wrap{
	position: fixed;
	right: 0;
	top: 0;
	padding: 20px;
}
.fixed_btns_wrap .btn{
	line-height: 22px;
	padding: 6px 24px;
	border: 0;
	font-size: 12px;
	color: #fff;
	cursor: pointer;
}
.fixed_btns_wrap .btn_success{
	background-color: #2097d7;
}
.fixed_btns_wrap .btn_default{
	background: url(../../images/map/opacity_b50.png);
}
/*悬浮热点*/
.hotspot_wrap{
	position: absolute;
	right: 110px;
	top: 50%;
	z-index: 5;
	margin-top: -280px;
	width: 300px;
	height: 590px;
	font-size: 14px;
	color: #fff;
}
.hotspot_wrap.relat_modal{
	position: absolute;
	top: 40px;
	margin-top: 0;
}
.addhotspot_btn{
	position: absolute;
	left: 20px;
	bottom: 20px;
	z-index: 1;
	width: 260px;
	height: 40px;
	line-height: 36px;
	border: 2px solid #2097d8;
	box-sizing: border-box;
	text-align: center;
	font-size: 16px;
	color: #2097d8;
}
.addhotspot_btn:hover{
	background-color: #2097d8;
	color: #fff;
}
.hotspot_header{
	width: 98px;
	height: 36px;
	line-height: 34px;
	text-align: center;
	border-top: 2px solid #2097d8;
	box-sizing: border-box;
	background: url(../../images/map/opacity_hui90.png);
}
.hotspot_body{
	height: 554px;
	box-sizing: border-box;
	padding-bottom: 90px;
	background: url(../../images/map/opacity_hui90.png);
}
.hotspot_cont{
	height: 464px;
	padding: 0 20px; 
	overflow-y: auto;
}
.hotspot_cont .hot_title{
	margin: 0;
	padding: 12px 0;
	font-weight: normal;
}
.hotspot_cont .position_block{
	height: 40px;
	background-color: #1c9fe7;
}
.hotspot_cont .position_block a{
	float: left;
	width: 33.33%;
	height: 40px;
	line-height: 40px;
	background: url(../../images/map/panorama_edit_line1.jpg) no-repeat right center;
	text-align: center;
	color: #fff;
}
.hotspot_cont .position_block a:hover{
	background-color: #1897dc;
}
.hotspot_cont .position_block a.noline{
	background-image: none;
}
.hot_list{
	margin-bottom: -10px;
}
.hot_list .item{
	margin-bottom: 10px;
	padding: 2px;
	background: none;
}
.hot_list .item.iCur{
	background: #da8d11;
}
.hot_list .item_con{
	height: 40px;
	background-color: #696c72;
}
.hot_list .item_con .pano_pic{
	float: left;
	width: 40px;
	height: 40px;
}
.hot_list .item_con .text_in,
.hot_list .item_con .text_in2{
	float: left;
	width: 158px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	overflow: hidden;
}
.hot_list .item_con .text_in2{
	width: 198px;
	text-align: left;
	padding-left: 10px;
	box-sizing: border-box;
}
.hot_list .item_con .icon_hot{
	float: right;
	width: 40px;
	height: 40px;
	text-align: center;
}
.hot_list .item_con .icon_hot img{
	width: 100%;
	height: 100%;
}

/*添加热点弹出*/
.hotspot_mark{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	display: none;
	width: 100%;
	height: 100%;
	background: url(../../images/map/opacity_b50.png);
}
.hotspot_modal{
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 11;
	width: 900px;
	background-color: #43434a;
	font-size: 14px;
	color: #fff;
}
.hotspot_modal.relat_modal{    
	margin-top: 0;
    position: absolute;
    top: 20px;
}
.hotspot_modal h2{
	margin-bottom: 0;
	font-weight: normal;
}
.hotspot_modal a{
	color: #fff;
}
.hotspot_modal .btn:hover,
.hotspot_modal .btn.hover,
.hotspot_modal .btn:focus{
	color: #fff;
}
.hotspot_modal .btn_default{
	border: 1px solid #2097d8;
	background-color: inherit;
	color: #2097d8;
}
.hotspot_modal .btn_default:hover{
	color: #2097d8;
}
.hotspot_modal .btn_success{
	background-color: #2097d8;
}
.hotspot_modal .btn[disabled]{
	color: #999999;
	background-color: #f5f5f5;
}
.modal_header{
	height: 40px;
	padding: 0 20px;
}
.modal_header .mclose{
	float: right;
	width: 16px;
	height: 16px;
	margin-top: 12px;
	cursor: pointer;
}
.modal_header .mclose img{
	width: 100%;
	height: 100%;
}
.modal_header h2{
	float: left;
	padding: 5px 0;
	line-height: 30px;
	font-size: 16px;
}
.modal_body{
	background-color: #36363e;
}
.modal_footer{
	padding: 10px 0;
	text-align: center;
}
.tooltip-inner{
	background: url(../../images/map/tooltip_bg50.png);
	font-size: 14px;
	color: #fff;
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border: 0;
	height: 5px;
	width: 10px;
	background: url(../../images/map/tooltip_arrow50.png);
}
/*添加热点--热点类型*/
.hottype_modal{
	margin-left: -450px;
	margin-top: -200px;
}
.hottype_modal .modal_body{
	height: 310px;
	overflow: auto;
}
.hottype_modal .modal_content{
	padding: 20px 30px;
}
.hottype_modal .text_type{
	height: 20px;
	line-height: 20px;
}
.hottype_list{
	margin-top: 80px;
}
.hottype_list li{
	float: left;
	margin: 10px 20px;
}
.hottype_list .type_link{
	display: block;
	width: 160px;
	height: 44px;
	line-height: 40px;
	border: 2px solid #2097d8;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	color: #2097d8;
}
.hottype_list .type_link i{
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	margin: 10px 5px 0 0;
}
.hottype_list .type_link .icon0{
	background: url(../../images/map/icon_type0-0.png) no-repeat center center;
}
.hottype_list .type_link .icon1{
	background: url(../../images/map/icon_type1-0.png) no-repeat center center;
}
.hottype_list .type_link .icon2{
	background: url(../../images/map/icon_type2-0.png) no-repeat center center;
}
.hottype_list .type_link .icon3{
	background: url(../../images/map/icon_type3-0.png) no-repeat center center;
}
.hottype_list li:hover .type_link,
.hottype_list li.aCur .type_link{
	background-color: #2097d8;
	color: #fff;
}
.hottype_list li:hover .icon0,
.hottype_list li.aCur .icon0{
	background: url(../../images/map/icon_type0-1.png) no-repeat center center;
}
.hottype_list li:hover .icon1,
.hottype_list li.aCur .icon1{
	background: url(../../images/map/icon_type1-1.png) no-repeat center center;
}
.hottype_list li:hover .icon2,
.hottype_modal li.aCur .icon2{
	background: url(../../images/map/icon_type2-1.png) no-repeat center center;
}
.hottype_list li:hover .icon3,
.hottype_list li.aCur .icon3{
	background: url(../../images/map/icon_type3-1.png) no-repeat center center;
}
/*添加热点--热点图标*/
.switch_modal{
	margin-left: -450px;
	margin-top: -287px;
}
.switch_modal .modal_body{
	height: 480px;
}
.switch_modal .modal_content{
	padding: 20px;
}
.hoticon_list{
	height: 400px;
	overflow: hidden;
	margin-top: 10px;
}
.hoticon_list span{
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}
.hoticon_list .micon{
	width: 74px;
	height: 74px;
	border: 2px solid #3f3f46;
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
}
.hoticon_list .micon img{
	width: 100%;
	height: 100%;
}
.hoticon_list span.spIcur .micon{
	border: 2px solid #d7870c;
}
/*添加热点--场景图片*/
.scene_modal{
	margin-left: -450px;
	margin-top: -202px;
}
.scene_modal .modal_body{
	height: 310px;
}
.scene_modal .modal_content{
	padding: 20px;
}
.scenepic_list{
	height: 230px;
	margin-top: 10px;
}
.scenepic_list li{
	float: left;
	margin: 10px 10px 20px 10px;
	padding: 2px;
	box-sizing: border-box;
	background-color: none;
	cursor: pointer;
}
.scenepic_list li.iIcur{
	background-color: #d7870c;
}
.scenepic_list .sitem{
	width: 190px;
	height: 40px;
	background-color: #494a50;
}
.scenepic_list .sitem img{
	float: left;
	width: 40px;
	height: 40px;
}
.scenepic_list .sitem .p_text{
	width: 156px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	box-sizing: border-box;
	overflow: hidden;
}
/*添加热点--超链接*/
.hyperlink_modal{
	margin-left: -450px;
	margin-top: -202px;
}
.hyperlink_modal .modal_body{
	height: 310px;
}
.hyperlink_modal .modal_content{
	padding: 20px;
}
.modale_table{
	margin-left: auto;
	margin-right: auto;
}
.modale_table.table_hyperlink{
	width: 420px;
	margin-top: 80px;
}
.table_hyperlink .tdlt{
	width: 116px;
	padding: 14px 10px 14px 0;
	box-sizing: border-box;
	text-align: right;
}
.table_hyperlink .tdrt{
	width: 294px;
	padding: 14px 0;
}
.modale_table .form-control{
	height: 34px;
	padding: 5px 12px;
	background: none;
	border: 2px solid #999999;
	box-sizing: border-box;
	color: #fff;
}
.modale_table .form_textarea{
	height: 120px;
	padding: 10px;
	background: none;
	border: 2px solid #999999;
	box-sizing: border-box;
	color: #fff;
}
/*添加热点--文字介绍*/
.textinstro_modal{
	margin-left: -450px;
	margin-top: -202px;
}
.textinstro_modal .modal_body{
	height: 310px;
}
.textinstro_modal .modal_content{
	padding: 20px;
}
.modale_table.table_textinstro{
	width: 420px;
	margin-top: 26px;
}
.table_textinstro .tdlt{
	width: 100px;
	padding: 14px 10px 14px 0;
	box-sizing: border-box;
	text-align: right;
}
.table_textinstro .tdrt{
	width: 312px;
	padding: 14px 0;
}
/*添加热点--图片展示*/
.pictureshow_modal{
	margin-left: -450px;
	margin-top: -232px;
}
.pictureshow_modal .modal_body{
	height: 370px;
}
.pictureshow_modal .modal_content{
	padding: 20px;
}
.modale_table.table_pictureshow{
	width: 420px;
	margin-top: 26px;
}
.table_pictureshow .tdlt{
	width: 116px;
	padding: 14px 10px 14px 0;
	box-sizing: border-box;
	text-align: right;
}
.table_pictureshow .tdrt{
	width: 294px;
	padding: 14px 0;
}
.filepic_btn{
	position: relative;
	width: 198px;
	height: 34px;
	margin: 20px auto 0;
	border: 0;
	line-height: 34px;
	border-radius: 4px;
	background-color: #2097d8;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.filepic_btn input{
	position: absolute;
	width: 1000px;
	right: 0;
	top: 0;
	font-size: 100px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.random_slider_wrap{
	width: 720px;
	height: 134px;
	margin: 20px auto 0;
	overflow: hidden;
}
.random_slider{
	height: 134px;
}
.random_slider .sitem{
	float: left;
	margin: 0 20px;
}
.random_slider .sitem img{
	width: 100%;
	height: 100%;
}
.random_slider .sitem .text_url{
	height: 30px;
	line-height: 30px;
	text-align: center;
	overflow: hidden;
}
.random_slider .sitem.sCur .pic_con{
	border: 2px solid #ff9c00;
}
.random_slider .pic_con{
	position: relative;
	width: 104px;
	height: 104px;
	border: 2px solid #36363e;
	box-sizing: border-box;
	overflow: hidden;
}
.random_slider .pic_con .text_delete{
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: url(../../images/map/opacity_b50.png);
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}
.random_slider .pic_con:hover .text_delete{
	display: block;
}