@charset "utf-8";
/* CSS Document */
html{
	height:100%;
	overflow:hiden;
	}
body{
	min-height:100%;
	}
em{ 
	font-style:normal;
	}
.btn,.form-control{
	font-size:12px;
	}
.inline_block .bootstrap-select{
	margin-right:0;
	}
.bootSelt80 .bootstrap-select{  
	width:80px;
	}
.bootSelt80 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:80px;
	}
.bootSelt180 .bootstrap-select{  
	width:180px;
	}
.bootSelt180 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:180px;
	}
.inline_block .bootstrap-select.btn-group .dropdown-menu{
	max-width:100%;
	}

	

/* 素材库页面样式 */
.material_main{
	background-color:#fff;
	box-sizing:border-box;
	}
.material_main .breadNav_wap{
	background-color:#fff;
	}
/*素材库内容*/
.material_content{
	min-height:500px;
	overflow:hidden;
	}
.material_content.hide_pano{
	padding-left:0-;
	}
.panorama_material{
	border:1px solid #ddd;
	border-radius:5px;
	}
.panorama_material_header{
	padding:8px 10px;
	border-bottom:1px solid #ddd;
	box-sizing:border-box;
	border-radius:5px 5px 0 0;
	background-color:#fafafa;
	}
.panorama_material_header .text_title{
	height:34px;
	line-height:34px;
	overflow:hidden;
	font-size:16px;
	}
.panorama_material_header .text_title span{
	font-size:20px;
	color:#ff950b;
	}
/*有数据*/
.material_data{
	min-height:500px;
	box-sizing:border-box;
	}
.material_list{
	padding:20px 10px;
	}
.material_list .m_item{
	float:left;
	width:16.66666667%;
	padding-right:10px;
	padding-left:10px;
	box-sizing:border-box;
	}
.material_list .m_item:hover .pano_pos{
	display:block;
	}
.material_list .m_item:hover .panorama_li{
	box-shadow:0 0 8px 1px #e0e0e0;
	}
.material_list .panorama_li{
	position:relative;
	height:230px;
	padding:4px;
	border:1px solid #e0e0e0;
	box-sizing:border-box;
	}
.material_list .pano_pos{
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	padding:4px 4px 0;
	box-sizing:border-box;
	}
.material_list .pano_pos .icon_block{
	height:30px;
	background:url(../../images/commons/opacity_w80.png);
	}
.material_list .pano_pos p{
	float:left;
	height:30px;
	line-height:30px;
	font-size:12px;
	overflow:hidden;
	}
.material_list .pano_pos p span{
	display:inline-block;
	cursor:pointer;
	}
.material_list .pano_pos p span:hover{
	color:#000;
	}
.material_list .pano_pos p img{
	display:inline-block;
	width:10px;
	height:10px;
	margin:10px 5px;
	vertical-align:top;
	}
.material_list .pano_pos .icon_view{
	width:30%;
	}
.material_list .pano_pos .icon_name{
	width:40%;
	}
.material_list .pano_pos .icon_delt{
	width:30%;
	}
.material_list .pano_hd{
	width:100%;
	height:174px;
	border:1px solid #e0e0e0;
	box-sizing:border-box;
	}
.material_list .pano_hd img{
	width:100%;
	height:100%;
	}
.material_list .pano_bd{
	position:relative;
	height:24px;
	margin-top:14px;
	padding-left:18px;
	box-sizing:border-box;
	overflow:hidden;
	}
.material_list .pano_bd .icon_qj{
	position:absolute;
	left:0;
	top:0;
	width:18px;
	height:24px;
	background:url(../../images/panorama/MaterialLibrary_icon1.png) no-repeat left center;
	cursor:pointer;
	}
.material_list .pano_bd .text_name{
	height:24px;
	line-height:24px;
	font-size:16px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	}
.material_list .pano_bd .text_ipt{
	display:none;
	width:100%;
	height:24px;
	line-height:22px;
	padding:0 10px;
	border:1px solid #ddd;
	box-sizing:border-box;
	font-size:14px;
	}

	
/*无数据*/
.material_nodata{
	position:relative;
	min-height:400px;
	}
.nodata_text{
	position:absolute;
	left:50%;
	top:50%;
	width:200px;
	line-height:30px;
	margin-left:-100px;
	margin-top:-44px;
	text-align:center;
	font-size:16px;
	}
.nodata_text img{
	width:82px;
	height:56px;
	}

@media screen and (min-width: 1471px) and (max-width: 1600px){
.material_list .m_item{
	width:20%;
	}
}
@media screen and (min-width: 1201px) and (max-width: 1470px){
.material_list .m_item{
	width:25%;
	}
}
@media screen and (min-width: 1001px) and (max-width: 1200px){
.material_list .m_item{
	width:33.33%;
	}
}
@media screen and (max-width: 1000px){
.material_list .m_item{
	width:33.33%;
	}
}
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	