@charset "utf-8";
/* CSS Document */
html{
	height:100%;
	overflow:hiden;
	}
body{
	min-height:100%;
	}
em{ 
	font-style:normal;
	}
.btn,.form-control{
	font-size:12px;
	}
.inline_block .bootstrap-select{
	margin-right:0;
	}
.bootSelt80 .bootstrap-select{  
	width:80px;
	}
.bootSelt80 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:80px;
	}
.bootSelt180 .bootstrap-select{  
	width:180px;
	}
.bootSelt180 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:180px;
	}
.inline_block .bootstrap-select.btn-group .dropdown-menu{
	max-width:100%;
	}
.tooltip.in{ 
	opacity:0.8;
	filter:alpha(opacity=80);
	}
.public-search{
	position: relative;
}
.public-search input.form-control[type="text"]{
	padding-left: 25px;
}


.btn-preview{
	border-color:#357ebd;
	color:#357ebd;
	}	
.btn-preview:hover,
.btn-preview:focus{
	color:#357ebd;
	}	

/* SPGS会员监控页样式 */
.member_monitor_main{
	background-color:#fff;
	box-sizing:border-box;
	padding: 30px;
	}
.member_monitor_main .breadNav_wap{
	background-color:#fff;
	}
/*会员列表*/
.allSetting_wap{
	border:1px solid #ddd;
	border-radius:5px;
	box-sizing:border-box;
	overflow:hidden;
	}
.allSetting_hd{
	margin-bottom:-1px;
	padding:4px 10px;
	border-bottom:1px solid #ddd;
	border-radius:5px 5px 0 0;
	box-sizing:border-box;
	background-color:#fafafa;
	}
.allSetting_hd h3{
	float:left;
	height:26px;
	line-height:26px;
	font-size:16px;
	font-weight:normal;
	}
.allSetting_hd h3 img{
	width:16px;
	height:16px;
	margin:5px 10px 0 0;
	vertical-align:top;
	}
.allSetting_hd .sm_btn{
	float:left;
	margin-left:5px;
	height:26px;
	padding:0 10px;
	line-height:24px;
	box-sizing:border-box;
	}
.memberPic_bd table td{
	border-top:1px solid #ddd;
	text-align:center;
	padding:10px 0;
	font-size:12px;
	}
.memberPic_bd .member_img{
	width:50px;
	height:50px;
	border-radius: 50%;
	overflow: hidden;
	}
.memberPic_bd .member_des{
	width:80%;
	max-height:40px;
	line-height:20px;
	overflow:hidden;
	font-size:14px;
	text-align:left;
	}
.memberPic_bd .member_btn{
	display:inline-block;
	margin:0 4px;
	vertical-align:middle;
	cursor:pointer;
	}
.memberPic_bd .member_btn:hover{
	color:#000;
	}
.memberPic_bd input.member_ipt[type="text"]{
	display:inline-block;
	width: 106px;
	height: 26px;
	margin-left: 10px;
}

/*spgs设置*/
.spgsSetting_list{
	padding:10px;
	font-size:12px;
	}
.spgsSetting_list .spgs_item{
	float:left;
	width:20%;
	padding:10px;
	box-sizing:border-box;
	}
.spgsSetting_list dl{
	position:relative;
	height:32px;
	padding-right:110px;
	border:1px solid #ddd;
	border-radius:5px;
	}
.spgsSetting_list dt{
	position:relative;
	font-weight:normal;
	height:32px;
	line-height:32px;
	overflow:hidden;
	}
.spgsSetting_list dt .icon_img{
	width:14px;
	height:14px;
	margin:9px 8px;
	vertical-align:top;
	}
.spgsSetting_list dt .text_name{
	position:absolute;
	left:90px;
	top:0;
	width:40%;
	line-height:32px;
	text-align:left;
	color:#999;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	}
.spgsSetting_list dd{
	position:absolute;
	right:0;
	top:0;
	width:110px;
	height:32px;
	}
.spgsSetting_list .star_using{
	float:left;
	line-height:20px;
	padding-top:6px;
	}
.spgsSetting_list .star_using .icheckbox_minimal-blue,
.spgsSetting_list .star_using .iradio_minimal-blue{
	margin-right:5px;
	}
.spgsSetting_list .setting_btn{
	float:right;
	height:32px;
	line-height:32px;
	margin-right:5px;
	color:#428bca;
	cursor:pointer;
	}
.spgsSetting_list .setting_btn:hover{
	text-decoration:underline;
	}
/*分享设置*/
.shareSetting_bd{
	padding:10px;
	}	
.shareSetting_bd td{
	padding:10px 0;
	vertical-align:top;
	}
.shareSetting_bd .set_dl{
	position:relative;
	padding-left:90px;
	}
.shareSetting_bd .set_dt{
	position:absolute;
	left:0;
	top:0;
	width:90px;
	height:34px;
	line-height:34px;
	padding-right:15px;
	box-sizing:border-box;
	text-align:right;
	font-weight:normal;
	}
.shareSetting_bd .set_dd{
	min-height:34px;
	}
.shareSetting_bd .set_dd .form-control{
	width:80%;
	}
.shareSetting_bd .set_dd .textarea{
	height:112px;
	line-height:20px;
	resize:none;
	}
.shareSetting_bd .code_block{
	width:98px;
	height:98px;
	border:1px solid #ddd;
	box-sizing:border-box;
	padding:5px;
	}
.shareSetting_bd .code_block img{
	width:100%;
	height:100%;
	}
.shareSetting_bd .text_share{
	height:34px;
	line-height:34px;
	}
.shareSetting_bd .copy_link{
	width:110px;
	padding-left:35px;
	box-sizing:border-box;
	background:url(../../images/panorama/panorama_copylinL.png) no-repeat 20px center;
	}
.shareSetting_bd .copy_link:focus{
	border-color:#357ebd;
	background:#428bca url(../../images/panorama/panorama_copylinH.png) no-repeat 20px center;
	color:#fff;
	}


/*会员监控模态框*/
.member_dialog{
	position:fixed;
	left:50%;
	top:50%;
	}
.member_dialog.member_top{
	position:relative;
	left:inherit;
	top:inherit;
	margin:30px auto;
	}
.member_dialog .i_close{
	position: absolute;
	right: 15px;
	top: 15px;
	width: 20px;
	height: 20px;
	background: url(../../images/bootstrap/farmingIco16.jpg) no-repeat center center;
	cursor: pointer;
}
.member_dialog .i_close:hover{
	background: url(../../images/bootstrap/farmingIco17.jpg) no-repeat center center;
}
.membermonitor_dialog{
	width:600px;
	margin-left:-300px;
	margin-top:-280px;
	}
.membermonitor_dialog .modal_body{
	height:442px;
	margin-bottom: -1px;
	padding:20px 0 0 20px;
	box-sizing:border-box;
	}
.membermonitor_dialog .modal-footer{
	text-align:center;
	}
.membermonitor_dialog .edit_infor_table{
	width:100%;
	margin:20px auto 0;
	}
.msearch_block .form-control{
	width: 200px;
}
.member_list{
	height: 368px;
	padding-right: 20px;
	overflow-y: auto;
}
.member_list li{
	position: relative;
	padding: 12px 10px;
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #ededed; 
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	overflow: hidden;
}
.member_list li:after{
	position: absolute;
	right: -1px;
	bottom: -1px;
	display: none;
	width: 18px;
	height: 18px;
	content: '';
	background: url(../../images/service/MemberMonitor_icon9.jpg);
}
.member_list li.m_last{
	border-bottom: 1px dashed #ededed;
}
.member_list li.m_cur{
	border: 1px solid #049ffc;
}
.member_list .m_cur:after{
	display: block;
}
.member_list .text_text{
	float: left;
	width: 84px;
	line-height: 20px;
	color: #999;
	overflow: hidden;
}
.member_list .text_text img{
	vertical-align: top;
	margin: 3px 5px 0 0 ;
}
.member_list .text_name{
	float: left;
	width: 160px;
	line-height: 20px;
	color: #333;
}
.member_list .text_phone{
	float: left;
	width: 160px;
	line-height: 20px;
	color: #333;
	overflow: hidden;
}
/* 物联网设备模态框 */
.appliance_dialog{
	width:590px;
	margin-left:-295px;
	margin-top:-267px;
	}
.appliance_dialog .modal_body{
	height:416px;
	padding:20px 20px 0;
	box-sizing:border-box;
	}
.appliance_dialog .modal-footer{
	text-align:center;
	border-top: 0;
	}

.pickList_sourceListContainer, 
.pickList_targetListContainer{ 
	float:left; 
	margin:0 7px 0 0; 
	width:246px; 
	border:1px solid #e4e4e4; 
	border-radius:5px;
	}
.pickList_targetListContainer{ 
	margin:0 0 0 7px;
	}
.pickList_controlsContainer{ 
	float:left; 
	margin:0; 
	width:40px;
	}
.pickList_sourceListLabel,
.pickList_targetListLabel{ 
	padding:0 10px; 
	height:30px; 
	line-height:30px; 
	background:#f9f9f9; 
	border-bottom:1px solid #e4e4e4; 
	border-radius:5px 5px 0 0; 
	text-align:center; 
	font-size:14px; 
	font-weight:normal;
	}
.pickList_sourceList,
.pickList_targetList{ 
	width:100%; 
	height:309px; 
	padding:10px 0; 
	border:none;
	}
.pickList_sourceList li,
.pickList_targetList li{ 
	padding:0 10px; 
	height:28px; 
	line-height:28px; 
	font-size:12px; 
	color:#6d6d6d;
	}
.pickList_controlsContainer{ 
	padding-top:90px;
	}
.pickList_controlsContainer button{ 
	display:block; 
	width:40px; 
	height:26px; 
	line-height:24px; 
	border:1px solid #e4e4e4; 
	text-align:center; 
	color:#b1b1b1; 
	font-size:12px; 
	white-space:normal; 
	margin-top:10px; 
	cursor:pointer;
	}
.pickList_targetListLabel{ 
	text-align:center;
	}
.pickList_targetListLabel em{ /*清空*/
	display:none;
	float:right; 
	font-size:12px; 
	font-style:normal; 
	color:#7dc196; 
	cursor:pointer;
	}
/* 登录页皮肤设置模态框 */
.skinset_dialog{
	width:600px;
	margin-left:-300px;
	margin-top:-267px;
	}
.skinset_dialog .modal_body{
	height:416px;
	padding:20px;
	box-sizing:border-box;
	overflow: auto;
	}
.skinset_dialog .modal-footer{
	text-align:center;
	}
.slin_list li{
	position: relative;
	float: left;
	margin: 10px 10px 20px;
	cursor: pointer;
}
.slin_list .skin_item{
	width: 160px;
	height: 246px;
	border: 1px solid #ededed;
	box-sizing: border-box;
	overflow-y: hidden;
}
.slin_list .skin_item img{
	width: 100%;
	height: 100%;
}
.slin_list .text_name{
	height: 34px;
	line-height: 34px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	font-weight: bold;
	color: #788d9f;
	overflow: hidden;
}
.slin_list .skin_icon{
	position: absolute;
	top: 218px;
	right: 2px;
	display: none;
	width: 26px;
	height: 26px;
	background: url(../../images/service/MemberMonitor_icon10.png);
}
.slin_list .s_cur .skin_item{
	border: 2px solid #62a9e6;
}
.slin_list .s_cur .skin_icon{
	display: block;
}

@media screen and (min-width: 1559px) and (max-width: 2000px){
.spgsSetting_list .spgs_item{
	width:33.333%;
	}
}
@media screen and (min-width: 1201px) and (max-width: 1560px){
.spgsSetting_list .spgs_item{
	width:33.333%;
	}
}
@media screen and (min-width: 1001px) and (max-width: 1200px){
.spgsSetting_list .spgs_item{
	width:50%;
	}
}
@media screen and (max-width: 1000px){
.spgsSetting_list .spgs_item{
	width:50%;
	}
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	