@charset "utf-8";
/* CSS Document */
/* 支付宝--购买成功页面样式 */
/* 头部--和购买协议的头部样式一样 */
html{
	background:none;
	}
body{
	background:url(../../images/service/PurchaseSuccess_bg1.jpg) repeat-x;
	}
.s_header_wapper{
	border-bottom:1px solid #ddd-;
	}
.s_header_wapper .s_header{
	width:1000px-;
	width:920px;
	height:80px;
	margin:0 auto;
	}
.s_header_wapper .s_logo{
	float:left;
	height:100%;
	}
.s_header_wapper .s_logo img{
	vertical-align:middle;
	}
.s_header_wapper .s_logo i{
	display:inline-block;
	height:100%;
	vertical-align:middle;
	}
.pur_content{
	position:relative;
	width:910px;
	margin:0 auto;
	padding-top:40px;
	background-color:#fff;
	text-align:center;
	}
.pur_content .i_pos_bg{
	position:absolute;
	right:120px;
	top:-89px;
	width:230px;
	height:89px;
	background:url(../../images/service/PurchaseSuccess_bg2.png) no-repeat;
	}
.pur_content .p_text2{
	padding:30px 0;
	font-size:22px;
	color:#9fcc5a;
	}
.pur_content .p_text3{
	width:570px;
	line-height:30px;
	margin:0 auto;
	font-size:14px;
	text-align:left;
	}
.pur_content .p_text3 a{
	color:#3399ff;
	}
.pur_content .p_text3 a:hover{
	text-decoration:underline;
	}
.pur_content .p_text4{
	margin:130px 0 90px;
	font-size:14px;
	}
.pur_content .return_btn{
	display:block;
	width:170px;
	height:38px;
	line-height:38px;
	margin:30px auto;
	border-radius:5px;
	background-color:#9fcc5a;
	font-size:18px;
	text-align:center;
	color:#fff;
	}
.pur_content .return_btn:hover{
	background-color:#81ae3d;
	}