@charset "utf-8";
/* CSS Document */

/* 义田帮手服务购买协议页面样式 */
html{
	background:none;
	}
.s_header_wapper{
	border-bottom:1px solid #ddd;
	}
.s_header_wapper .s_header{
	width:1000px;
	height:80px;
	margin:0 auto;
	}
.s_header_wapper .s_logo{
	float:left;
	height:100%;
	}
.s_header_wapper .s_logo img{
	vertical-align:middle;
	}
.s_header_wapper .s_logo i{
	display:inline-block;
	height:100%;
	vertical-align:middle;
	}
.s_banner_wapper{
	height:450px;
	margin:auto;
	background:#228ae9 url(../../images/service/ServiceAgreement_banner.jpg) no-repeat center top;
	text-align:center;
	}
.s_content_wapper{
	width:900px;
	margin:0 auto;
	padding:30px 0;
	}
.s_content_wapper .s_title{
	padding:30px 0;
	font-size:20px;
	}
.argumment_wapper{
	padding:10px 0;
	border:1px solid #ddd;
	box-sizing:border-box;
	}
.argumment_content{
	height:740px;
	padding:0 15px;
	overflow:hidden;
	}
.argumment_item{
	margin-bottom:20px;
	}
.argumment_item dt{
	line-height:34px;
	font-size:18px;
	font-weight:normal;
	}
.argumment_item dd{
	line-height:24px;
	font-size:14px;
	}
.s_footer_wapper{
	height:210px;
	margin-top:90px;
	background-color:#535353;
	}
.s_footer_wapper .s_footer{
	width:1000px;
	margin:0 auto;
	}
.s_footer_wapper .p_text1{
	line-height:20px;
	padding-top:70px;
	font-size:16px;
	text-align:center;
	color:#fff;
	}
.s_footer_wapper .p_text1 a{
	margin: 0 10px;
	color:#fff;
	}
.s_footer_wapper .p_text1 a:hover{
	color:#ccc;
	}
.s_footer_wapper .p_text2{
	margin-top:20px;
	font-size:12px;
	text-align:center;
	color:#ccc;
	}
/* 滚动条 */
.nicescroll-rails{
	position:relative;
	}
.nicescroll-rails:before{
	position:absolute;
	left:0;
	top:0;
	width:7px;
	border-right:1px solid #6f87ae;
	box-sizing:border-box;
	height:100%;
	content:"";
	}