@charset "utf-8";
/* CSS Document */

/* 增值服务订单管理页面样式 */
.appreciation_sblock{ 
	padding: 20px 25px;
	border: 1px solid #ededed;
	border-top: none;
	box-shadow: 0 2px 2px #ededed;
	box-sizing: border-box;
	background: url(../../images/service/ServiceOrderManage_bg1.jpg) repeat-x;
	color: #525252;
}
.appreciation_sblock .s_title{
	display: block;
	padding: 15px 0;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: normal;
	color: #45b0ec;
}
.appreciation_sblock .h5_title{
	margin: 0 0 5px;
	font-size: 14px;
}
.service_order_list{
	border: 1px solid #ddd; 
}
.service_order_list th,
.service_order_list td{
	padding: 15px 2px;
	border-bottom: 1px solid #ddd; 
	font-size: 14px;
	text-align: center;
}
.service_order_list td{
	padding: 25px 2px;
	font-size: 16px;
	color: #727272;
}
.service_order_list a{
	color:#727272;
	}
.service_order_list .p_name{
	display: inline-block;
	width: 94px;
	height: 18px;
	overflow: hidden;
}
.service_order_list .payagain_btn{
	color: #32a4f4;
	text-decoration: underline;
}

/* 订单增值服务查看即详情页样式 */
.order_sblock{
	padding: 5px 15px;
	border: 1px solid #ddd; 
	font-size: 14px;
}
.order_sblock .p_txt{
	padding: 5px 0;
	line-height: 20px;
	box-sizing:border-box;
}
.order_sblock .p_txt span{
	color: #999;
}
.order_sblock .payagain_btn{
	text-decoration: none;
}
.order_sblock .payagain_btn:hover{
	text-decoration: underline;
	color: #32a4f4;
	}

/* 确认订单页面样式 */
.service_step{
	position: relative;
	width: 360px;
	height: 46px;
	background: url(../../images/service/ServiceOrderManage_bg2.jpg) no-repeat;
}
.service_step .step{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../../images/service/ServiceOrderManage_bg3.jpg) no-repeat;
}
.service_step .step1{
	width: 106px;
}
.service_step .step2{
	width: 260px;
}
.service_step .step3{
	width: 360px;
}
.invoice_block{
	position: relative;
	min-height: 100px;
	padding: 0px 25px 10px;
	border: 1px solid #ededed;
	border-bottom: none;
	box-sizing: border-box;
	background: url(../../images/service/ServiceOrderManage_bg1-2.jpg) repeat-x left bottom;
	color: #525252;
}
.invoice_block .i_bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 8px;
	background: url(../../images/service/ServiceOrderManage_bg4.jpg) repeat-x;
}
.invoice_block .h_title{
	padding: 35px 0 15px;
	border-bottom: 1px solid #ddd;
	font-size: 16px;
}
.invoice_content{
	padding: 0 80px;
	font-size: 14px;
}
.timeRadio_list{ 
	line-height:22px; 
	margin:0 ; 
	overflow:hidden;}
.timeRadio_list .items{ 
	display:inline-block; 
	margin-bottom:15px;
}
.timeRadio_list .items .btn-xs{
	float: left;
	height: 22px;
	line-height: 20px;
	padding: 0 10px;
}
.timeRadio_list .iRadioLable, 
.timeRadio_list .iCheckLable{
	height: 22px;
	line-height: 22px;
}
.timeRadio_list .iradio_minimal-blue, 
.timeRadio_list .iradio_minimal-blue.checked{
	margin-top: 2px;
}
.need_invoice{
	display: none;
}
.need_table td{
	padding-bottom: 15px;
	font-size: 12px;
}
.need_table .form-control.nw130{
	width: 130px;
}
.need_table .form-control.nw220{
	width: 220px;
}
.need_table .form-control.nw410{
	width: 410px;
}
.need_table .color_y1{
	color: #ff8636;
}
.bootSelt130 .bootstrap-select{  
	width:130px;
}
.bootSelt130 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:130px;
}
.sp_price{
	line-height: 34px;
	text-align: right;
	font-size: 14px;
}
.sp_price .p_txt{
	display: inline-block;
	width: 122px;
	line-height: 34px;
}
.sp_price .p_pay{
	font-size: 18px;
	color: #ff4a00;
}
.tax_invoice{
	display: none;
	padding: 70px 0;
}
.tax_invoice .pay_tip{
	line-height: 30px;
	font-size: 24px;
	text-align: center;
	color: #45b0ec;
}

/* 支付页面样式 */
.color_y{
	color: #ff6600;
}
.color_b{
	color: #45b0ec;
}
.color_g{
	color: #45b0ec;
}
.order_pay_block{
	border: 1px solid #ddd;
	font-size: 14px;
}
.pay_header{
	position: relative;
	padding: 15px 40px;
	background-color: #fffceb;
}
.pay_header .txt_order{
	line-height: 25px;
}
.pay_header .txt_price{
	position: absolute;
	right: 40px;
	top: 50%;
	height: 40px;
	line-height: 40px;
	margin-top: -20px;
	color: #999;
}
.pay_header .txt_price span{
	font-size: 20px;
	border-bottom: 1px dashed #ff6600;
}
.pay_body{
	padding: 30px 40px;
}
.pay_body .payway_title{
	font-size: 16px;
	color: #999;
}
.pay_body .pay_btn{
	width: 200px;
	height: 48px;
	line-height: 26px;
	padding: 10px 0;
	border: 1px solid #45b0ec;
	border-radius: 4px;
	box-sizing:borde-box;
	font-size: 20px;
	background-color: #45b0ec;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.pay_body .pay_btn:hover,
.pay_body .pay_btn:active,
.pay_body .pay_btn:focus{
	border-color: #3496cd
	background-color: #3496cd;
	outline: none;
}
.payway_list .w_item{
	position: relative;
	float: left;
	width: 154px;
	height: 42px;
	border: 1px solid #e6e6e6;
	margin-right: 10px;
	margin-bottom: 10px;
	box-sizing:border-box;
	cursor: pointer;
}
.payway_list .w_item img{
	width: 100%;
	height: 100%;
}
.payway_list .w_item .icon_draw{
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
	width: 15px;
	height: 15px;
	background: url(../../images/service/ServicePay_draw.png) no-repeat;
}
.payway_list .w_item.w_cur{
	border-color: #45b0ec;
}
.payway_list .w_item.w_cur .icon_draw{
	display: block;
}

/* 支付成功页样式 */
.success_tip{
	width: 390px;
	margin: 0 auto 45px;
}
.success_tip strong{
	display: block;
	height: 60px;
	line-height: 60px;
	padding-left: 86px;
	background: url(../../images/service/ServicePay_icon1.jpg) no-repeat;
	font-size: 32px;
	font-weight: normal;
	color: #80c52b;
}
.success_tip .order_num{
	margin-top: 15px;
	padding-left: 90px;
}
.fail_tip {
	display: none;
}
.fail_tip .t_txt_block{
	width: 320px;
	margin: 0 auto 20px;
}
.fail_tip strong{
	float: left;
	height: 36px;
	line-height: 36px;
	padding-left: 40px;
	background: url(../../images/service/ServicePay_icon2.jpg) no-repeat left center;
	font-size: 20px;
	font-weight: normal;
	color: #ff6600;
}
.fail_tip .pay_again{
	float: left;
	height: 36px;
	line-height: 36px;
	margin-left: 10px;
	font-size: 12px;
	color: #45b0ec;
	text-decoration: underline;
}
.fail_tip .order_num{
	margin-top: 15px;
	padding-left: 40px;
	clear: both;
}
/* 支付提醒弹框 */
.paytip_modal{
	position:fixed;
	left:0;
	top:0;
	z-index:10;
	width:100%;
	height:100%;
	display:none;
	background:url(../../images/commons/opacity_b50.png);
	}
.paytip_content{
	position:fixed;
	left:50%;
	top:50%;
	z-index:11;
	width:560px;
	height:174px;
	margin:-87px 0 0 -280px;
	border:1px solid #ddd;
	box-sizing:border-box;
	background-color:#fff;
	}
.modal_header{
	padding:0 10px;
	border-bottom:1px solid #ddd;
	background-color:#f7f7f8;
	}
.modal_header .m_title{
	float:left;
	line-height:34px;
	font-size:14px;
	color:#333;
	}
.modal_header .m_close{
	float:right;
	margin-top:9px;
	cursor:pointer;
	}
.modal_body{
	padding:20px;
	}
.paytip_content .p_text1{
	width:434px;
	line-height:20px;
	margin:15px auto;
	font-size:14px;
	}
.p_button{
	text-align:center;
	}
.p_button .btn{
	display:inline-block;
	width:82px;
	height:26px;
	line-height:24px;
	padding:0;
	border:1px solid #ddd;
	box-sizing:border-box;
	background:url(../../images/service/ServicePay_bg1.jpg) repeat-x left bottom;
	text-align:center;
	vertical-align:top;
	font-size:12px;
	color:#525252;
	cursor:pointer;
	}












