@charset "utf-8";
/* CSS Document */

/* 系统升级购买页面样式 */
/* 版本 */
.bfeature_header{
	position:relative;
	height:330px;
	padding-left:354px;
	}
.bfeature_left{
	position:absolute;
	left:0;
	top:0;
	width:330px;
	height:330px;
	border:1px solid #ddd;
	box-sizing:border-box;
	}
.bfeature_left > img{
	width:100%;
	height:100%;
	}
.bfeature_right .h3_title{
	height:28px;
	line-height:28px;
	font-size:22px;
	font-weight:normal;
	overflow:hidden;
	}
.bfeature_right .dl_base{
	margin-top:20px;
	font-size:14px;
	}
.bfeature_right .dl_base dt{
	float:left;
	width:60px;
	height:30px;
	line-height:30px;
	}
.bfeature_right .txt_price{
	height:30px;
	line-height:30px;
	}
.bfeature_right .txt_price font{
	padding-right:5px;
	font-size:20px;
	color:#ff6433;
	}
.bfeature_right .txt_phone{
	width:240px;
	height:38px;
	line-height:36px;
	margin-top:20px;
	border:1px solid #ddd;
	border-radius:5px;
	text-align:center;
	font-size:14px;
	}
.bfeature_right .txt_phone font ,
.bfeature_right .txt_notes a{
	padding-left:5px;
	color:#45b0ec;
	}
.bfeature_right .txt_notes a:hover{
	text-decoration:underline;
	}
.bfeature_right .txt_notes{
	line-height:18px;
	margin-top:20px;
	font-size:14px;
	}
.expiry_date{
	overflow:hidden;
	}
.expiry_date li{
	float:left;
	width:60px;
	height:30px;
	line-height:28px;
	margin-right:8px;
	border:1px solid #ddd;
	box-sizing:border-box;
	text-align:center;
	cursor:pointer;
	}
.expiry_date li:hover ,
.expiry_date .e_cur{
	border-color:#45b0ec;
	}
.buy_rotocol{
	margin-top:20px;
	line-height:20px;
	}
.buy_rotocol a{
	color:#45b0ec;
	}
.buy_rotocol a:hover{
	text-decoration:underline;
	}
.buy_rotocol .icheckbox_minimal-blue{
	float:left;
	margin-right:10px;
	}
.buynow_btn{
	width:230px;
	height:38px;
	margin-top:20px;
	padding:0;
	border:0;
	border-radius:5px;
	box-sizing:border-box;
	background-color:#45b0ec;
	font-size:14px;
	text-align:center;
	cursor:pointer;
	color:#fff;
	}
.buynow_btn:hover,
.buynow_btn:active,
.buynow_btn:focus{
	background-color:#3399d2;
	}
.buynow_btn[disabled]{
	background-color:#777;
	cursor:not-allowed;
	pointer-events:none;
	}
.WF_title{
	position:relative;
	height:24px;
	line-height:24px;
	margin:10px 0;
	border-left:3px solid #06b1e9;
	box-sizing:border-box;
	font-size:18px;
	font-weight:normal;
	}
.WF_title:after{
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
	width:100%;
	height:12px;
	border-bottom:1px solid #ddd;
	box-sizing:border-box;
	content:"";
	display:block;
	}
.WF_title font{
	display:inline-block;
	height:24px;
	padding:0 10px;
	background-color:#fff;
	}
.WF_text1 ,
.WF_text2{
	line-height:28px;
	font-size:14px;
	color:#666;
	}
.WF_text1{
	text-indent:14px;
	}
/* 焦点图 */
.page_showcase{
	margin:20px 0 30px;
	border:1px solid #ddd;
	}
.webslider_header{
	position:relative;
	width:924px;
	height:500px;
	margin:40px auto;
	padding:0 28px;
	box-sizing:border-box;
	}
.webslider{
	position:relative;
	width:868px;
	height:100%;
	overflow:hidden;
	}
.slider_hd_list{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	}
.slider_hd_list li{
	float:left;
	width:868px;
	height:100%;
	overflow:hidden;
	}
.slider_hd_list li img{
	width:100%;
	height:100%;
	}
.slider_left ,
.slider_right {
	position:absolute;
	top:50%;
	width:28px;
	height:92px;
	line-height:92px;
	margin-top:-46px;
	padding-top:32px;
	box-sizing:border-box;
	background-color:#747779;
	text-align:center;
	cursor:pointer;
	}
.slider_left.s_cur ,
.slider_right.s_cur{
	background-color:#6ac0f0;
	}
.slider_left{
	left:0;
	border-radius:10px 0 0 10px;
	}
.slider_right{
	right:0;
	border-radius:0 10px 10px 0;
	}
.webslider_body{
	height:149px;
	border-top:1px solid #ddd;
	box-sizing:border-box;
	}
.slider_bd_list{
	max-width:868px;
	height:120px;
	margin:12px auto;
	padding-top:7px;
	box-sizing:border-box;
	text-align:center;
	overflow:hidden;
	}
.slider_bd_list li{
	position:relative;
	display:inline-block;
	width:132px;
	height:112px;
	border:1px solid #ddd;
	box-sizing:border-box;
	margin:0 10px;
	cursor:pointer;
	}
.slider_bd_list li img{
	width:100%;
	height:100%;
	}
.slider_bd_list .bd_cur{
	border-width:2px;
	border-color:#45b0ec;
	}
.slider_bd_list .bd_cur:before{
	position:absolute;
	left:50%;
	top:-8px;
	margin-left:-4px;
	content:"";
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:0;
	border-bottom:8px solid #45b0ec;
	}
	
	
/* 小屏样式 */
/* 增值服务购买页面--小屏样式 */	
.small_body .webslider_header{
	width:820px;
	height:440px;
	}
.small_body .slider_hd_list li{
	width:764px;
	}
.small_body .webslider{
	width:764px;
	}
.small_body .slider_bd_list li{
	width:118px;
	height:98px;
	margin:0 6px;
	}







