@charset "utf-8";
/* CSS Document */

/* 生成履历页面样式 */
.bjlinebg{
	background:url(../../images/resume/mobgline.jpg) repeat-y 0 0;
	}
.phon_bg_2{
	box-sizing:content-box;
	background:url(../../images/resume/phon_bg.jpg) no-repeat 0 0;
	}
.bootstrap-select.btn-group .dropdown-menu{
	max-width:100%;
	}
.bootSelt170 .bootstrap-select{ 
	width:170px;
	}
.bootSelt170 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:170px;
	}
.bootSelt170 .btn-group > .btn{
	padding-left:8px;
	}
.bootSelt260 .bootstrap-select{ 
	width:260px;
	}
.bootSelt260 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:260px;
	}
.generate_resume2{
	display:none;
	}
.res_select_dl .dl_dt{
	float:left;
	width:97px;
	height:34px;
	line-height:34px;
	padding-left:15px;
	box-sizing:border-box;
	font-size:16px;
	font-weight:normal;
	}
.crop_header .crop_title{
	float:left;
	width:50%;
	padding:15px 0;
	border-bottom:1px solid #ddd;
	background-color:#f5fbfe;
	text-align:center;
	font-size:15px;
	}
.crop_body .crop_ttlh4{
	height:35px;
	line-height:34px;
	border-bottom:1px dashed #ddd;
	font-size:16px;
	}
.crop_body .crop_ttlh4 img{
	display:inline-block;
	width:18px;
	height:18px;
	margin:8px 5px 0 0;
	vertical-align:top;
	}
.crop_body .crop_ttlh4 .en_text{
	padding-left:10px;
	font-size:12px;
	color:#999797;
	}
.res_crop_list{
	padding:10px 0;
	border-bottom:1px dashed #ddd;
	font-size:14px;
	}
.res_crop_list .dl_dd1{
	float:left;
	width:290px;
	text-align:center;
	}
.res_crop_list .text_name{
	display:inline-block;
	max-width:200px;
	height:34px;
	line-height:34px;
	margin:5px auto;
	white-space:nowrap;
	text-overflow:ellipsis;
	vertical-align:top;
	overflow:hidden;
	}
.res_crop_list .dl_dd2{
	margin-left:290px;
	text-align:center;
	}
.res_crop_list .text_time{
	display:inline-block;
	height:34px;
	line-height:34px;
	margin:5px 0;
	vertical-align:top;
	}
.res_crop_list .select_ol > li{
	display:inline-block;
	width:100%;
	margin:5px 0;
	vertical-align:top;
	}


