@charset "utf-8";
/* CSS Document */

/* 履历预览详情页面样式 */
.nav > li > a{
	padding:10px 20px;
	color:#525252;
	font-size:14px;
	}
.text_viewcomment{
	padding:15px 0 10px;
	text-align:right;
	font-size:14px;
	color:#239df2;
	}
.returnBtn{
	text-align:center;
	}
.review_pane{
	padding:10px;
	border:1px solid #ddd;
	border-radius:4px;
	}
.review_pane td{
	padding:10px 0;
	border-bottom:1px solid #ddd;
	font-size:14px;
	}
.review_pane .star_pic{
	width:128px;
	height:20px;
	margin-right:7px;
	vertical-align:top;
	}
.review_pane .text_date{
	color:#999;
	}
.review_pane .text_comment{
	padding-top:10px;
	}
.review_pane .icon_delete,
.comment_table .icon_delete{
	cursor:pointer;
	}
.review_pane .pageModel_wap td{
	padding:0;
	border-bottom:0;
	}

/* 评论管理列表样式 */
.bootSelt180 .bootstrap-select{  
	width:180px;
	}
.bootSelt180 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:180px;
	}
.comment_table .icheckbox_minimal-blue, 
.comment_table .icheckbox_minimal-blue.checked{
	margin-left:15px;
	}
