@charset "utf-8";
/* CSS Document */
html{
	height:100%;
	overflow:hiden;
	}
body{
	min-height:100%;
	}
em{ 
	font-style:normal;
	}
.btn,.form-control{
	font-size:12px;
	}
.inline_block .bootstrap-select{
	margin-right:0;
	}
.bootSelt80 .bootstrap-select{  
	width:80px;
	}
.bootSelt80 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:80px;
	}
.bootSelt180 .bootstrap-select{  
	width:180px;
	}
.bootSelt180 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ 
	width:180px;
	}
.inline_block .bootstrap-select.btn-group .dropdown-menu{
	max-width:100%;
	}
.tooltip.in{ 
	opacity:0.8;
	filter:alpha(opacity=80);
	}
.two_12{
	width:24px;
	height:10px;
	}

	

/* 库存档案页样式 */
.panorama_main{
	background-color:#fff;
	box-sizing:border-box;
	}
.panorama_main .breadNav_wap{
	background-color:#fff;
	}
/*库存左侧二级*/
.panorama_level_wap{
	position:relative;
	float:left;
	padding:20px 0-;
	background-color:#fff;
	box-sizing:border-box;
	font-size:12px;
	}
.panorama_level{
	display:inline-block;
	min-height:865px-;
	padding:20px 5px;
	border-right:1px solid #dfdfdf;
	box-sizing:border-box;
	vertical-align:top;
	overflow:hidden;
	}
.panorama_level{
	height:500px;
	}
.pano_second .sed_item{
	position:relative;
	width:168px;
	padding-bottom:10px;
	background:url(../../images/panorama/panorama_line1-1.png) repeat-y 0 0;
	}
.pano_second .sed_item >  a{
	display:block;
	padding:5px 10px 5px 32px;
	box-sizing:border-box;
	}
.pano_second .sed_item .i_icon{
	position:absolute;
	left:8px;
	top:5px;
	width:20px;
	height:20px;
	background:#fff url(../../images/aerialphoto/panorama_locusH.png) no-repeat center center;
	}
.pano_second .sed_item .p_text{
	max-height:40px;
	line-height:20px;
	overflow:hidden;
	color:#525252;
	}
.pano_second .sed_item.sed_cur > a{
	background:#428bca url(../../images/panorama/panorama_line1-2.png) repeat-y 0 0;
	color:#fff;
	}
.pano_second .sed_item.sed_cur .i_icon{
	background:#428bca url(../../images/aerialphoto/panorama_locusW.png) no-repeat center center;
	}
.pano_second .sed_item.sed_cur .p_text{
	color:#fff;
	}
.pano_second .sed_item.sed_cur:hover > a{
	background:#428bca url(../../images/panorama/panorama_line1-2.png) repeat-y 0 0;
	}
.pano_second .sed_item.sed_cur:hover .i_icon{
	background:#428bca url(../../images/aerialphoto/panorama_locusW.png) no-repeat center center;
	}
.pano_second .sed_item.sed_cur:hover .p_text{
	color:#fff;
	}
.pano_second .sed_item:hover > a{
	background:#f3f3f3 url(../../images/panorama/panorama_line1-1.png) repeat-y 0 0;
	}
.pano_second .sed_item:hover .i_icon{
	background:#f3f3f3 url(../../images/aerialphoto/panorama_locusH.png) no-repeat center center;
	}
.pano_second .sed_item:hover .p_text{
	color:#525252;
	}
	
/*折叠按钮*/
.collapse_btn{
	position:absolute;
	right:-16px;
	width:16px;
	height:76px;
	margin-top:-98px;
	background-image:url(../../images/inventory/InventoryFile_arrowr.png);
	cursor:pointer;
	}
.collapse_btn{
	top:400px;
	}
/*右侧主体内容*/
.panorama_content{
	min-height:500px;
	padding-left:179px-;
	overflow:hidden;
	}
.panorama_content.hide_pano{
	padding-left:0-;
	}
.inbentory_search_wap{
	min-height:780px-;
	margin:20px;
	padding:20px;
	box-sizing:border-box;
	background-color:#fff;
	}
.inbentory_search_wap .search_header{
	margin-top:0;
	}


/* 四季田景编辑页面样式 */
.btn-preview{
	border-color:#357ebd;
	color:#357ebd;
	}	
.btn-preview:hover,
.btn-preview:focus{
	color:#357ebd;
	}
/*全景图*/
.allSetting_wap{
	border:1px solid #ddd;
	border-radius:5px;
	box-sizing:border-box;
	overflow:hidden;
	}
.allSetting_hd{
	margin-bottom:-1px;
	padding:4px 10px;
	border-bottom:1px solid #ddd;
	border-radius:5px 5px 0 0;
	box-sizing:border-box;
	background-color:#fafafa;
	}
.allSetting_hd h3{
	float:left;
	height:26px;
	line-height:26px;
	font-size:16px;
	font-weight:normal;
	}
.allSetting_hd h3 img{
	width:16px;
	height:16px;
	margin:5px 10px 0 0;
	vertical-align:top;
	}
.allSetting_hd .sm_btn{
	float:left;
	margin-left:5px;
	height:26px;
	padding:0 10px;
	line-height:24px;
	box-sizing:border-box;
	}
.panoPic_bd table td{
	border-top:1px solid #ddd;
	text-align:center;
	padding:10px 0;
	font-size:12px;
	}
.panoPic_bd .pano_img{
	width:50px;
	height:50px;
	}
.panoPic_bd .pano_des{
	width:80%;
	max-height:40px;
	line-height:20px;
	overflow:hidden;
	font-size:14px;
	text-align:left;
	}
.panoPic_bd .praise_num,
.panoPic_bd .browse_num{
	display:inline-block;
	max-width:80px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	word-break:break-all;
	vertical-align:middle;
	}
.panoPic_bd .praise_num img,
.panoPic_bd .browse_num img{
	width:14px;
	height:14px;
	margin:3px;
	vertical-align:top;
	}
.panoPic_bd .pano_btn{
	display:inline-block;
	margin:0 4px;
	vertical-align:middle;
	cursor:pointer;
	}
.panoPic_bd .pano_btn:hover{
	color:#000;
	}
/*全景设置*/
.panoSetting_list{
	padding:10px;
	font-size:12px;
	}
.panoSetting_list .pano_item{
	float:left;
	width:20%;
	padding:10px;
	box-sizing:border-box;
	}
.panoSetting_list dl{
	position:relative;
	height:32px;
	padding-right:110px;
	border:1px solid #ddd;
	border-radius:5px;
	}
.panoSetting_list dt{
	position:relative;
	font-weight:normal;
	height:32px;
	line-height:32px;
	overflow:hidden;
	}
.panoSetting_list dt .icon_img{
	width:14px;
	height:14px;
	margin:9px 8px;
	vertical-align:top;
	}
.panoSetting_list dt .text_name{
	position:absolute;
	left:90px;
	top:0;
	width:40%;
	line-height:32px;
	text-align:left;
	color:#999;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	}
.panoSetting_list dd{
	position:absolute;
	right:0;
	top:0;
	width:110px;
	height:32px;
	}
.panoSetting_list .star_using{
	float:left;
	line-height:20px;
	padding-top:6px;
	}
.panoSetting_list .star_using .icheckbox_minimal-blue,
.panoSetting_list .star_using .iradio_minimal-blue{
	margin-right:5px;
	}
.panoSetting_list .setting_btn{
	float:right;
	height:32px;
	line-height:32px;
	margin-right:5px;
	color:#428bca;
	cursor:pointer;
	}
.panoSetting_list .setting_btn:hover{
	text-decoration:underline;
	}
/*分享设置*/
.shareSetting_bd{
	padding:10px;
	}	
.shareSetting_bd td{
	padding:10px 0;
	vertical-align:top;
	}
.shareSetting_bd .set_dl{
	position:relative;
	padding-left:90px;
	}
.shareSetting_bd .set_dt{
	position:absolute;
	left:0;
	top:0;
	width:90px;
	height:34px;
	line-height:34px;
	padding-right:15px;
	box-sizing:border-box;
	text-align:right;
	font-weight:normal;
	}
.shareSetting_bd .set_dd{
	min-height:34px;
	}
.shareSetting_bd .set_dd .form-control{
	width:80%;
	}
.shareSetting_bd .set_dd .textarea{
	height:112px;
	line-height:20px;
	resize:none;
	}
.shareSetting_bd .code_block{
	width:98px;
	height:98px;
	border:1px solid #ddd;
	box-sizing:border-box;
	padding:5px;
	}
.shareSetting_bd .code_block img{
	width:100%;
	height:100%;
	}
.shareSetting_bd .text_share{
	height:34px;
	line-height:34px;
	}
.shareSetting_bd .copy_link{
	width:110px;
	padding-left:35px;
	box-sizing:border-box;
	background:url(../../images/panorama/panorama_copylinL.png) no-repeat 20px center;
	}
.shareSetting_bd .copy_link:focus{
	border-color:#357ebd;
	background:#428bca url(../../images/panorama/panorama_copylinH.png) no-repeat 20px center;
	color:#fff;
	}
/*无数据*/
.panorama_nodata{
	position:relative;
	border:1px dashed #ddd;
	border-radius:8px;
	box-sizing:border-box;
	min-height:340px;
	}
.panorama_nodata > table{
	position:absolute;
	left:50%;
	top:50%;
	width:740px;
	height:280px;
	margin-left:-370px;
	margin-top:-140px;
	}
.panorama_nodata .p_text1{
	font-size:18px;
	}
.panorama_nodata .p_text2{
	padding-top:10px;
	font-size:16px;
	color:#999;
	}


/*四季田景模态框*/
.pano_dialog{
	position:fixed;
	left:50%;
	top:50%;
	}
.pano_dialog.pano_top{
	position:relative;
	left:inherit;
	top:inherit;
	margin:30px auto;
	}
.group_dialog{
	width:600px;
	margin-left:-300px;
	margin-top:-120px;
	}
.group_dialog .modal_body{
	height:120px;
	padding:20px 20px 0;
	box-sizing:border-box;
	}
.group_dialog .modal-footer{
	text-align:center;
	}
.group_dialog .edit_infor_table{
	width:100%;
	margin:20px auto 0;
	}
.save_dialog{
	width:360px;
	margin-left:-180px;
	margin-top:-104px;
	}
.save_dialog .modal_body{
	height:90px;
	padding:20px 20px 0 48px;
	box-sizing:border-box;
	}
.save_dialog .modal-footer{
	text-align:center;
	}
.save_dialog .text_tip1{
	font-size:16px;
	color:#000;
	}
.save_dialog .text_tip2{
	padding-top:12px;
	font-size:12px;
	}
.material_dialog{
	width:680px;
	margin-left:-340px;
	margin-top:-205px;
	}
.material_dialog .modal_body{
	height:290px;
	padding:0;
	box-sizing:border-box;
	}
.material_dialog .modal-footer{
	text-align:center;
	}
.material_dialog .form-control.w200{
	width:200px;
	}
.panopic_list{
	overflow:hidden;
	padding:10px 20px;
	}
.panopic_list > li{
	float:left;
	width:50%;
	padding:10px 0;
	}
.panopic_list .dl_dl{
	position:relative;
	display:table;
	width:100%;
	padding-left:120px;
	box-sizing:border-box;
	}
.panopic_list .dl_dt{
	position:absolute;
	left:0;
	top:0;
	width:120px;
	height:80px;
	}
.panopic_list .dl_dt .icheckbox_minimal-blue{
	margin:32px 8px 0 0;
	}
.panopic_list .dl_dt .m_panopic{
	float:left;
	width:80px;
	height:80px;
	box-sizing:border-box;
	}
.panopic_list .dl_dt .m_panopic.m_bor{
	border:2px solid #ff8400;
	}
.panopic_list .dl_dd{
	display:table-cell;
	width:100%;
	height:80px;
	vertical-align:middle;
	}
.panopic_list .dl_dd .text_name{
	width:80%;
	max-height:40px;
	line-height:20px;
	overflow:hidden;
	word-break:break-all;
	}
.comment_dialog{
	width:800px;
	margin-left:-400px;
	margin-top:-205px;
	}
.comment_dialog .modal_body{
	height:290px;
	padding:10px;
	box-sizing:border-box;
	}
.comment_dialog .modal-footer{
	text-align:center;
	}
.comment_dialog .edit_infor_table{
	width:100%;
	margin:0;
	}
.comment_dialog .edit_infor_table tr:hover td{
	background-color:#f9f9f9;
	}
.comment_dialog .edit_infor_table th,
.comment_dialog .edit_infor_table td{
	padding:5px 0;
	border-bottom:1px dashed #ddd;
	text-align:center;
	}
.comment_dialog .edit_infor_table th{
	padding:10px 0;
	font-weight:normal;
	}
.comment_dialog label{
	font-weight:normal;
	}
.comment_dialog	.text_th{
	height:34px;
	line-height:34px;
	border-left:1px solid #ddd;
	}
.comment_dialog .text_name{
	float:left;
	display:inline-block;
	max-width:60%;
	height:30px;
	line-height:30px;
	overflow:hidden;
	}
.comment_dialog .people_pic{
	width:30px;
	height:30px;
	margin:0 2px;
	}
.comment_dialog .icon_delete{
	color:#428bca;
	cursor:pointer;
	}
.comment_dialog .icon_delete:hover{
	color:#245279;
	}
.music_dialog{
	width:800px;
	margin-left:-400px;
	margin-top:-205px;
	}
.sort_dialog{
	width:670px;
	margin-left:-335px;
	margin-top:-205px;
	}
.sort_dialog .modal_body{
	height:300px;
	padding:20px;
	box-sizing:border-box;
	}
.sort_dialog .modal-footer{
	text-align:center;
	}
.sp_px{
	width:600px;
	height:260px;
	border:1px solid #ddd;
	box-sizing:border-box;
	overflow-y:auto;
	}
.sp_px .scroll-box ol{
	width:510px;
	margin-left:10px;
	margin-right:10px;
	}
.sp_px .select-list .list li{
	height:50px;
	line-height:40px;
	margin:5px 0;
	padding:5px;
	box-sizing:border-box;
	word-break:break-all;
	overflow:hidden;
	}
.sp_px .select-list .pano_pic{
	width:40px;
	height:40px;
	margin-right:10px;
	vertical-align:top;
	}
.sp_px .select-list .content{
	min-width:100%;
	}
.sp_px .select-list .scroll-box{
	float:left;
	height:258px;
	min-height:258px;
	}
.sp_px .select-list .button-column{
	float:left;
	margin-top:70px;
	}
.sp_px .fa-arrows {
    background-image: url(../../images/sort/yd.png);
    height: 13px;
    margin-top: 11px;
    width: 13px;
 }
.music_dialog .modal_body{
	height:290px;
	padding:0;
	box-sizing:border-box;
	}
.music_dialog .modal-footer{
	text-align:center;
	}
.music_dialog .nav-tabs{
	float:left;
	width:160px;
	height:290px;
	background-color:#f5f5f7;
	}
.music_dialog .nav-tabs li{
	float:none;
	margin-bottom:0;
	}
.music_dialog .nav-tabs li a{
	margin:0;
	padding:16px 10px;
	border:0;
	border-bottom:1px solid #ddd;
	font-size:14px;
	}
.music_dialog .nav-tabs li a:hover,
.music_dialog .nav-tabs li a{
	border:0;
	border-bottom:1px solid #ddd;
	background:none;
	color:#525252;
	}
.music_dialog .nav-tabs li.active a:hover,
.music_dialog .nav-tabs li.active a{
	border:0;
	border-bottom:1px solid #ddd;
	background-color:#fff;
	color:#525252;
	}
.music_dialog .tab-content{
	float:left;
	width:638px;
	height:290px;
	padding:0;
	box-sizing:border-box;
	overflow:hidden;
	}
.music_dialog .music_title{
	margin:0 15px;
	padding:10px;
	border-bottom:1px solid #ddd;
	}
.music_dialog .music_title .text_rt{
	float:right;
	width:50%;
	height:20px;
	line-height:20px;
	text-align:right;
	font-size:14px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	}
.library_list{
	height:200px;
	padding:10px 15px;
	box-sizing:border-box;
	overflow:auto;
	}
.library_list .m_item{
	height:34px;
	line-height:34px;
	overflow:hidden;
	cursor:default;
	}
.library_list .m_even{
	background-color:#f7f7f7;
	}
.library_list .icon_yy{
	float:left;
	width:14px;
	height:14px;
	margin:10px 5px;
	background:url(../../images/panorama/music_link.png) no-repeat center center;
	}
.library_list .text_name{
	float:left;
	width:400px;
	overflow:hidden;
	}
.library_list .icon_btn{
	float:right;
	padding:10px;
	overflow:hidden;
	}
.library_list .i_on{
	position:relative;
	float:left;
	width:14px;
	height:14px;
	margin-left:5px;
	background:url(../../images/panorama/music_on.png) no-repeat center center;
	cursor:pointer;
	overflow:hidden;
	}
.library_list .media_audio{
	width:100%;
	height:100%;
	opacity:0;
	filter:alpha(opacity=0);
	}
.library_list .i_on.i_off{
	background:url(../../images/panorama/music_off.png) no-repeat center center;
	}
.library_list .i_delete{
	float:left;
	width:14px;
	height:14px;
	margin-left:5px;
	background:url(../../images/panorama/music_delete.png) no-repeat center center;
	cursor:pointer;
	}
.library_list .m_item.m_cur{
	background-color:#418bca;
	color:#fff;
	}
.library_list .m_item.m_cur .icon_yy{
	background:url(../../images/panorama/music_active.png) no-repeat center center;
	}
.scene_dialog{
	width:700px;
	margin-left:-350px;
	margin-top:-205px;
	}
.scene_dialog .modal_body{
	height:290px;
	padding:0;
	box-sizing:border-box;
	}
.scene_dialog .modal_body .ke-container{
	width:650px;
	min-width:650px;
	max-width:650px;
	margin:15px auto 0;
	}
.scene_dialog .modal_body .ke-edit{
	min-height:200px;
	max-height:200px;
	}
.scene_dialog .modal_body .ke-edit-iframe{
	min-height:100%;
	max-height:100%;
	}
.scene_dialog .modal-footer{
	text-align:center;
	}
.card_dialog{
	position:relative;
	left:inherit;
	top:inherit;
	width:700px;
	margin:30px auto;
	}
.card_dialog .modal_body{
	padding:0 0 0 15px;
	box-sizing:border-box;
	}
.card_dialog .edit_infor_table{
	margin:20px 0 0;
	}
.card_dialog .edit_infor_table .form-control{
	font-size:12px;
	}
.card_dialog .modal_body .ke-container{
	width:570px;
	min-width:570px;
	max-width:570px;
	margin:0;
	}
.card_dialog .modal_body .ke-edit{
	min-height:200px;
	max-height:200px;
	}
.card_dialog .modal_body .ke-edit-iframe{
	min-height:100%;
	max-height:100%;
	}
.card_dialog .modal-footer{
	text-align:center;
	}

@media screen and (min-width: 1559px) and (max-width: 2000px){
.panoSetting_list .pano_item{
	width:33.333%;
	}
}
@media screen and (min-width: 1201px) and (max-width: 1560px){
.panoSetting_list .pano_item{
	width:33.333%;
	}
}
@media screen and (min-width: 1001px) and (max-width: 1200px){
.panoSetting_list .pano_item{
	width:50%;
	}
}
@media screen and (max-width: 1000px){
.panoSetting_list .pano_item{
	width:50%;
	}
}
/* 入库单页面样式 */	
/*添加物料模态框*/
.public-search{
	position:relative;
	}
.public-search .nw300{
	width:300px;
	}
.public-search input.form-control[type="text"]{
	padding-left:25px;
	}
.panorama_dialog{
	width:760px;
	margin:30px auto;
	}
.modal-header .modal-title{
	height:20px;
	line-height:20px;
	font-size:14px;
	font-weight:bold;
	}
.modal-header .i_close{
	float:right;
	width:11px;
	height:11px;
	margin-top:5px;
	background:url(../../images/commons/farmingIco16.jpg);
	cursor:pointer;
	}
.modal-header .i_close:hover{
	background:url(../../images/commons/farmingIco17.jpg);
	}
.modal_body{
	height:602px-;
	padding:5px 20px 20px;
	box-sizing:border-box;
	overflow-y:auto;
	}
.new_material_btn{
	height:20px;
	line-height:20px;
	margin-top:7px;
	padding-left:24px;
	background:url(../../images/inventory/StockIn_add.jpg) no-repeat left center;
	font-size:12px;
	color:#66bc66;
	}
.new_material_btn:hover{
	color:#55ae55;
	}
.material_list th,
.material_list td{
	border:1px solid #ddd;
	text-align:center;
	}
.material_list th{
	padding:12px 0;
	font-size:14px;
	background-color:#fafafa;
	}
.material_list td{
	padding:8px 0;
	font-size:12px;
	}
.material_list td.bg1{
	background-color:#fafafa;
	}
.material_list .icheckbox_minimal-blue{
	float:inherit;
	display:inline-block;
	}
.material_list .icon_link img{
	width:14px;
	height:14px;
	margin:0 2px;
	}
.modal_content{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	display:none;
	z-index:5;
	}
/*通用编辑信息TABLE*/
.edit_title_wap{ 
	width:96%;
	margin:0 auto;
	border-bottom:1px solid #ddd; 
	}
.edit_title_wap .text_title{ 
	height:34px; 
	line-height:34px; 
	font-size:16px; 
	color:#000;
	}
.edit_title_wap .text_title span{ 
	padding-left:20px; 
	font-size:14px; 
	color:#cdcdcd;
	}
.edit_infor_table{
	width:940px;
	margin:40px auto 20px;
	font-size:12px;
	}
.edit_infor_table .td_lt{
	width:125px-;
	line-height:34px;
	padding-right:15px;
	padding-bottom:20px;
	box-sizing:border-box;
	text-align:right;
	}
.edit_infor_table .td_rt{
	position:relative;
	width:345px-;
	padding-bottom:20px;
	box-sizing:border-box;
	}
.edit_infor_table .form-control{
	font-size:14px;
	}
.edit_infor_table .form-control.w80{
	width:80px;
	}
.edit_infor_table .form-control.w220{
	width:220px;
	}
.edit_infor_table .form-control.w400{
	width:400px;
	}
.edit_infor_table .textarea400{
	width:400px;
	height:100px;
	position:relative;
	border:1px solid #ddd;
	border-radius:4px;
	box-sizing:border-box;
	overflow:hidden;
	}
.edit_infor_table .textarea400 textarea{
	width:100%;
	height:80px;
	resize:none;
	border:0;
	border-radius:0;
	box-sizing:border-box;
	box-shadow:none;
	}
.edit_infor_table textarea:focus{
	box-shadow:none;
	}
.edit_infor_table .textarea400 .s_text{
	position:absolute;
	right:5px;
	bottom:0;
	line-height:20px;
	font-size:12px;
	color:#ccc;
	}
/**/
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	