@charset "utf-8";
/* CSS Document */
em{ 
	font-style:normal;
	}
.bootSelt80 .bootstrap-select{  width:80px;}
.bootSelt80 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:80px;}
.inline_block .bootstrap-select.btn-group .dropdown-menu{
	max-width:100%;
	}

.tooltip.in{ 
	opacity:0.5;
	filter:alpha(opacity=50);
	}

/* 种子投入品信息页样式 */
.lt_c_ul li a img{
	width:12px;
	height:12px;
	margin-top:14px;
	vertical-align:top;
	}
.module_block{
	border:1px solid #ddd;
	border-radius:8px;
	overflow:hidden;
	font-size:14px;
	}
.module_block .text_title img{
	width:20px;
	height:20px;
	margin-right:10px;
	vertical-align:top;
	}
.module_title{
	padding:15px 20px;
	background-color:#f8f8f8;
	}
.module_title h3{
	height:20px;
	line-height:20px;
	font-size:18px;
	color:#333;
	}
.setup_item{
	padding:0 20px;
	}
.setup_item .text_title{
	line-height:20px;
	padding:15px 0;
	font-weight:normal;
	}
.setup_item .dl_dd{
	margin-right:-20px;
	margin-bottom:-1px;
	border-bottom:1px dashed #ddd;
	}
.setup_item .setup_li{
	padding:0 20px 20px 0;
	}
.setup_item .icon_img{
	width:20px;
	height:20px;
	margin:5px 10px;
	vertical-align:top;
	}
.setup_item .li_block{
	position:relative;
	height:32px;
	line-height:30px;
	padding-right:30px;
	border:1px solid #ddd;
	box-sizing:border-box;
	font-size:12px;
	}
.setup_item .li_block .icon_btn{
	position:absolute;
	right:0;
	top:0;
	width:31px;
	height:30px;
	border-left:1px solid #ddd;
	background-image:url(../../images/information/ModuleSetup_addL.png);
	background-repeat:no-repeat;
	background-position:center center;
	}
.setup_item .li_block .icon_btn:hover{
	background-color:#ddd;
	background-image:url(../../images/information/ModuleSetup_addH.png);
	cursor:pointer;
	}
.setup_item .li_block.li_delete{
	border-color:#58adf7;
	}
.setup_item .li_block.li_delete .icon_btn{
	position:absolute;
	right:0;
	top:0;
	width:31px;
	height:30px;
	border-left:1px solid #58adf7;
	background-image:url(../../images/information/ModuleSetup_deleteL.png);
	background-repeat:no-repeat;
	background-position:center center;
	}
.setup_item .li_block.li_delete .icon_btn:hover{
	background-color:#58adf7;
	background-image:url(../../images/information/ModuleSetup_deleteH.png);
	cursor:pointer;
	}
	