@charset "utf-8";
/* CSS Document */
em{ 
	font-style:normal;
	}
.bootSelt80 .bootstrap-select{  width:80px;}
.bootSelt80 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:80px;}
.inline_block .bootstrap-select.btn-group .dropdown-menu{
	max-width:100%;
	}

/* 种子投入品信息页样式 */
.edit_title_wap{ 
	width:96%;
	margin:0 auto;
	border-bottom:1px solid #ddd; 
	}
.edit_title_wap .text_title{ 
	height:34px; 
	line-height:34px; 
	font-size:16px; 
	color:#000;
	}
.edit_title_wap .text_title span{ 
	padding-left:20px; 
	font-size:14px; 
	color:#cdcdcd;
	}
.edit_infor_table{
	width:940px;
	margin:40px auto 20px;
	font-size:12px;
	}
.edit_infor_table .td_lt{
	width:125px-;
	line-height:34px;
	padding-right:15px;
	padding-bottom:20px;
	box-sizing:border-box;
	text-align:right;
	}
.edit_infor_table .td_rt{
	position:relative;
	width:345px-;
	padding-bottom:20px;
	box-sizing:border-box;
	}
.edit_infor_table .form-control{
	font-size:14px;
	}
.edit_infor_table .form-control.w80{
	width:80px;
	}
.edit_infor_table .form-control.w220{
	width:220px;
	}
.edit_infor_table .form-control.w400{
	width:400px;
	}
.edit_infor_table .textarea400{
	width:400px;
	height:100px;
	position:relative;
	border:1px solid #ddd;
	border-radius:4px;
	box-sizing:border-box;
	overflow:hidden;
	}
.edit_infor_table .textarea400 textarea{
	width:100%;
	height:80px;
	resize:none;
	border:0;
	border-radius:0;
	box-sizing:border-box;
	box-shadow:none;
	}
.edit_infor_table textarea:focus{
	box-shadow:none;
	}
.edit_infor_table .textarea400 .s_text{
	position:absolute;
	right:5px;
	bottom:0;
	line-height:20px;
	font-size:12px;
	color:#ccc;
	}